<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>区域列表</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-reset.css" rel="stylesheet">
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="teamBuyer" v-cloak>
		<section id="container">
			<header class="header white-bg">
				<div class="sidebar-toggle-box">
					<div data-placement="right" class="fa fa-bars tooltips">
					</div>
				</div>
				<a href="class-list.htm" class="logo">
					指南针教育
					<span>
           	 ADMIN
          </span>
				</a>
				<div class="top-nav ">
					<ul class="nav pull-right top-menu">
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
                  {{admin}}
                </span>
								<b class="caret">
                </b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li class="log-arrow-up">
								</li>
								<li>
									<a @click="out" href="javascript:;">
										<i class="fa fa-key">
                    </i> Log Out
									</a>
								</li>
								<li></li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			<aside>
				<div id="sidebar" class="nav-collapse">
					<ul class="sidebar-menu" id="nav-accordion">
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 课程管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="class-list.htm">
										课程列表
									</a>
								</li>
								<li>
									<a href="add-class.htm">
										新增课程
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-tasks">
                </i>
								<span>
             		 订单管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="order-list.htm">
										订单列表
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-th">
                </i>
								<span>
          				分类管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="sort-list.htm">
										分类列表
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class=" fa fa-user">
                </i>
								<span>
                  	客户管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="customer-list.htm">
										客户列表
									</a>
								</li>
								<li>
									<a href="customer-list2.htm">
										来源统计
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-laptop">
                </i>
								<span>
              		顾问管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="adviser-list.htm">
										顾问列表
									</a>
								</li>
								<li>
									<a href="add-adviser.htm">
										新增顾问
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;" class="active">
								<i class="fa fa-map-marker">
                </i>
								<span>
              		区域管理
                </span>
							</a>
							<ul class="sub">
								<li class="active">
									<a href="area-list.htm">
										区域列表
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</aside>
			<section id="main-content" class="content">
				<section class="wrapper site-min-height">
					<div class="row">
						<div class="col-lg-12">
							<section class="panel">
								<header class="panel-heading">
									区域列表
								</header>
								<div class="panel-body">
									<div class="adv-table">
										<form class="form-inline">
											<div class="form-group">
												<button type="button" class="btn btn-info" data-toggle="modal" data-target="#addArea">新增区域</button>
											</div>
										</form>
									</div>
									<ul class="state">
										<li v-for="item in region">
											<span class="text-primary big-font">{{item.name}}</span>
											<button @click="getArea(item)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#changeArea">编辑</button>
											<button @click="getAreaId(item.id)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCity">添加城市</button>
											<ul class="city">
												<li v-for="list in item.regionList">
													{{list.name}}
													<button @click="getCity(list)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#changeCity">编辑</button>
												</li>
											</ul>
										</li>
									</ul>
								</div>
							</section>
						</div>
					</div>
				</section>
			</section>
			<footer class="site-footer">
				<div class="text-center">
					2017 &copy; 指南针教育 ADMIN
					<a href="#" class="go-top">
						<i class="fa fa-angle-up">
            </i>
					</a>
				</div>
			</footer>
		</section>
		<div class="modal fade" id="addArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">添加区域</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">区域名称</label>
								<div class="col-sm-8">
									<input v-model.trim="areaName" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">显示顺序</label>
								<div class="col-sm-8">
									<input v-model.trim="areaNum" type="text" class="form-control">
								</div>
							</div>
							<div v-if="eror" class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-8 text-danger">{{eror}}</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button @click="addArea" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="addCity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">添加城市</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">城市名称</label>
								<div class="col-sm-8">
									<input v-model.trim="cityName" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">显示顺序</label>
								<div class="col-sm-8">
									<input v-model.trim="cityNum" type="text" class="form-control">
								</div>
							</div>
							<div v-if="eror" class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-8 text-danger">{{eror}}</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button @click="addCity" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="changeArea" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">修改区域</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">区域名称</label>
								<div class="col-sm-8">
									<input v-model.trim="areaDetail.name" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">显示顺序</label>
								<div class="col-sm-8">
									<input v-model.trim="areaDetail.weight" type="text" class="form-control">
								</div>
							</div>
							<div v-if="eror" class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-8 text-danger">{{eror}}</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button @click="changeArea" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="changeCity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">修改城市</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">城市名称</label>
								<div class="col-sm-8">
									<input v-model.trim="cityDetail.name" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">显示顺序</label>
								<div class="col-sm-8">
									<input v-model.trim="cityDetail.weight" type="text" class="form-control">
								</div>
							</div>
							<div v-if="eror" class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-8 text-danger">{{eror}}</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button @click="changeCity" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/common-scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/common.js?verson=1"></script>
		<script>
			tb.isLogin("area-list.htm");
			$("td,th").addClass("text-center");
			var v = new Vue({
				el: '#teamBuyer',
				data: {
					admin: sessionStorage.getItem("admin"),
					region: [],
					areaName: '',
					areaNum: '',
					cityName: '',
					cityNum: '',
					areaId: 0,
					areaDetail: {},
					cityDetail: {},
					showTime: 2000,
					eror: ''
				},
				created: function() {
					this.getRegion();
				},
				methods: {
					getRegion: function() {
						var that = this;
						$.get(url + "region/list_all", function(result) {
							console.log(result)
							that.region = result.data;
						});
					},
					addArea: function() {
						var that = this;
						if(!tb.checkEmpty(that.areaName, "区域名称不能为空")) return;
						if(!tb.checkEmpty(that.areaNum, "显示顺序不能为空")) return;
						$.get(url + "region/addRegion", {
							name: that.areaName,
							weight: that.areaNum
						}, function(result) {
							console.log(result)
							if(result.code == 0) {
								that.areaName = '';
								that.areaNum = '';
								$('#addArea').modal('hide');
								that.getRegion();
							}
						});
					},
					getArea: function(obj) {
						console.log(obj)
						this.areaDetail = obj;
					},
					getAreaId: function(id) {
						console.log(id)
						this.areaId = id;
					},
					getCity: function(obj) {
						console.log(obj)
						this.cityDetail = obj;
					},
					changeArea: function() {
						var that = this;
						if(!tb.checkEmpty(that.areaDetail.name, "城市名称不能为空")) return;
						if(!tb.checkEmpty(that.areaDetail.weight, "显示顺序不能为空")) return;
						$.get(url + "region/update", {
							name: that.areaDetail.name,
							id: that.areaDetail.id,
							weight: that.areaDetail.weight
						}, function(result) {
							console.log(result)
							if(result.code == 0) {
								$('#changeArea').modal('hide');
								that.getRegion();
							}
						});
					},
					addCity: function() {
						var that = this;
						if(!tb.checkEmpty(that.cityName, "城市名称不能为空")) return;
						if(!tb.checkEmpty(that.cityNum, "显示顺序不能为空")) return;
						console.log(that.areaId)
						$.get(url + "region/addCity", {
							name: that.cityName,
							parentsId: that.areaId,
							weight: that.cityNum
						}, function(result) {
							console.log(result)
							if(result.code == 0) {
								that.cityName = '';
								that.cityNum = '';
								$('#addCity').modal('hide');
								that.getRegion();
							}
						});
					},
					changeCity: function() {
						var that = this;
						if(!tb.checkEmpty(that.cityDetail.name, "城市名称不能为空")) return;
						if(!tb.checkEmpty(that.cityDetail.weight, "显示顺序不能为空")) return;
						$.get(url + "region/update", {
							name: that.cityDetail.name,
							id: that.cityDetail.id,
							weight: that.cityDetail.weight
						}, function(result) {
							console.log(result)
							if(result.code == 0) {
								$('#changeCity').modal('hide');
								that.getRegion();
							}
						});
					},
					out: function() {
						tb.out();
					}
				}
			});
		</script>
	</body>

</html>