<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>课程列表</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-reset.css" rel="stylesheet">
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="teamBuyer" v-cloak>
		<section id="container">
			<header class="header white-bg">
				<div class="sidebar-toggle-box">
					<div data-placement="right" class="fa fa-bars tooltips">
					</div>
				</div>
				<a href="class-list.htm" class="logo">
					指南针教育
					<span>
           	 ADMIN
          </span>
				</a>
				<div class="top-nav ">
					<ul class="nav pull-right top-menu">
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
                  {{admin}}
                </span>
								<b class="caret">
                </b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li class="log-arrow-up">
								</li>
								<li>
									<a @click="out" href="javascript:;">
										<i class="fa fa-key">
                    </i> Log Out
									</a>
								</li>
								<li></li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			<aside>
				<div id="sidebar" class="nav-collapse">
					<ul class="sidebar-menu" id="nav-accordion">
						<li class="sub-menu">
							<a href="javascript:;" class="active">
								<i class="fa fa-book">
                </i>
								<span>
                 	 课程管理
                </span>
							</a>
							<ul class="sub">
								<li class="active">
									<a href="class-list.htm">
										课程列表
									</a>
								</li>
								<li>
									<a href="add-class.htm">
										新增课程
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-tasks">
                </i>
								<span>
             		 订单管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="order-list.htm">
										订单列表
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-th">
                </i>
								<span>
          				分类管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="sort-list.htm">
										分类列表
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class=" fa fa-user">
                </i>
								<span>
                  	客户管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="customer-list.htm">
										客户列表
									</a>
								</li>
								<li>
									<a href="customer-list2.htm">
										来源统计
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-laptop">
                </i>
								<span>
              		顾问管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="adviser-list.htm">
										顾问列表
									</a>
								</li>
								<li>
									<a href="add-adviser.htm">
										新增顾问
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-map-marker">
                </i>
								<span>
              		区域管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="area-list.htm">
										区域列表
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</aside>
			<section id="main-content" class="content">
				<section class="wrapper site-min-height">
					<div class="row">
						<div class="col-lg-12">
							<section class="panel">
								<header class="panel-heading">
									课程列表
								</header>
								<div class="panel-body">
									<div class="adv-table">
										<form class="form-inline">
											<div class="form-group">
												<input v-model.trim="name" type="text" class="form-control" placeholder="课程名称">
											</div>
											<div class="form-group">
												<select v-model="sort" class="form-control" size="1" name="example_length">
													<option value="" selected="selected">--分类--</option>
													<option v-for="item in allSort" :value="item.id">{{item.name}}</option>
												</select>
											</div>
											<div class="form-group">
												<select v-model="state" class="form-control" size="1" name="example_length">
													<option value="" selected="selected">--拼团状态--</option>
													<option value="WAIT">未开始</option>
													<option value="START">拼团中</option>
													<option value="END">已结束</option>
													<option value="STOP">已终止</option>
												</select>
											</div>
											<div class="form-group">
												<button @click="getClass" type="button" class="btn btn-info">查询</button>
												<a href="add-class.htm" class="btn btn-primary">
													新增课程
												</a>
												<!--<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#setMoney">设置返佣金额</button>-->
											</div>
										</form>
										<div class="responsive-table margin-top">
											<table class="display table table-bordered table-striped" id="example">
												<thead>
													<tr>
														<!--<th><input @click="checked" type="checkbox"></th>-->
														<th>课程编号</th>
														<th>课程名称</th>
														<th>课程类型</th>
														<th>所属分类</th>
														<th>拼团状态</th>
														<th>拼团开始时间</th>
														<th>拼团结束时间</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="item in subject" class="gradeX">
														<!--<th><input type="checkbox" v-bind:checked="chec"></th>-->
														<td v-if="item.parentId==0">{{item.id}}</td>
														<td v-else>{{item.parentId}} ({{item.id}})</td>
														<td>
															<a @click="goDetail(item.id)" href="javascript:;" class="text-primary">{{item.name}}</a>
														</td>
														<td>{{item.type | type}}</td>
														<td>{{item.categoryId | sort}}</td>
														<td>{{item.state | state}}</td>
														<td>{{item.startDate}}</td>
														<td>{{item.endDate}}</td>
														<td>
															<button @click="changeClass(item.id,'copy')" v-if="item.type!='CHILD'" type="button" class="btn btn-info">
																复制
															</button>
															<button @click="changeClass(item.id,'edit')" v-if="item.state!='END' && item.state!='STOP' && item.type!='CHILD'" type="button" class="btn btn-warning">
																编辑
															</button>
															<button v-if="item.state=='START'" @click="endId(item.id)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#endClass">终止</button>
															<button v-else @click="deleteId(item.id)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteClass">删除</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="row-fluid">
											<div class="span6">
												<div class="dataTables_info" id="hidden-table-info_info">共{{count}}条</div>
											</div>
											<div class="span6">
												<div class="dataTables_paginate paging_bootstrap pagination">
													<ul>
														<li :class="[pageNum==0?'disabled':'']">
															<a @click="firstPage" href="javascript:;">首页</a>
														</li>
														<li :class="[pageNum==0?'disabled':'']">
															<a @click="prevPage" href="javascript:;">← Pre</a>
														</li>
														<li class="nowPage">
															第{{pageNum+1}}页
														</li>
														<li :class="[pageNum==allPage-1?'disabled':'']">
															<a @click="nextPage" href="javascript:;">Next → </a>
														</li>
														<li :class="[pageNum==allPage-1?'disabled':'']">
															<a @click="lastPage" href="javascript:;">末页</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
			</section>
			<footer class="site-footer">
				<div class="text-center">
					2017 &copy; 指南针教育 ADMIN
					<a href="#" class="go-top">
						<i class="fa fa-angle-up">
            </i>
					</a>
				</div>
			</footer>
		</section>
		<div class="modal fade" id="deleteClass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">删除</h4>
					</div>
					<div class="modal-body">
						确认删除吗？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button @click="deleteClass" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="endClass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">终止</h4>
					</div>
					<div class="modal-body">
						确认终止吗？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button @click="endClass" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="setMoney" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">删除</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">返佣金额</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="exampleInputAmount">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/common-scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/common.js?verson=1"></script>
		<script>
			tb.isLogin("class-list.htm");
			$("td,th").addClass("text-center");
			var v = new Vue({
				el: '#teamBuyer',
				data: {
					admin: sessionStorage.getItem("admin"),
					allSort: [],
					subject: [],
					count: 0,
					dId: '',
					eId: '',
					name: '',
					sort: '',
					state: '',
					pageNum: 0,
					pageSize: 10,
					allPage: 0
				},
				created: function() {
					this.update();
					this.getClass();
					this.getSort();
				},
				filters: {
					state: function(str) {
						if(str == "WAIT") {
							return "未开始";
						} else if(str == "START") {
							return "拼团中";
						} else if(str == "END") {
							return "已结束";
						} else if(str == "STOP") {
							return "已终止";
						}
					},
					type: function(str) {
						if(str == "DEFAULT") {
							return "大团";
						} else if(str == "INDIE") {
							return "小团";
						} else if(str == "CHILD") {
							return "子团";
						}
					},
					sort: function(id) {
						for(var i = 0; i < this.allSort.length; i++) {
							if(id == this.allSort[i].id) {
								return this.allSort[i].name;
							}
						}
					}
				},
				methods: {
					update: function() {
						$.get(url3 + "subject/update", function(result) {
							console.log(result)
						});
					},
					getSort: function() {
						var that = this;
						$.get(url + "subject_category/list", {
							state: "",
							pageNum: 0,
							pageSize: 1000000
						}, function(result) {
							console.log(result)
							that.allSort = result.data;
						});
					},
					getClass: function() {
						var that = this;
						$.get(url + "subject/count", {
							keyword: that.name,
							categoryId: that.sort,
							state: that.state
						}, function(result) {
							console.log(result)
							that.count = result.data;
							that.allPage = Math.ceil(result.data / that.pageSize);
							console.log(that.allPage)
						});
						$.get(url + "subject/list", {
							keyword: that.name,
							categoryId: that.sort,
							state: that.state,
							pageNum: 0,
							pageSize: that.pageSize
						}, function(result) {
							console.log(result)
							that.pageNum = 0;
							for(var i = 0; i < result.data.length; i++) {
								result.data[i].startDate = that.getTime(result.data[i].startDate);
								result.data[i].endDate = that.getTime(result.data[i].endDate);
							};
							that.subject = result.data;
						});
					},
					endId: function(id) {
						this.eId = id;
					},
					endClass: function() {
						var that = this;
						$.get(url + "subject/stop", {
							id: that.eId
						}, function(result) {
							console.log(result);
							if(result.data == true) {
								$('#endClass').modal('hide');
								that.getClass();
							};
						});
					},
					deleteId: function(id) {
						this.dId = id;
					},
					deleteClass: function(id) {
						var that = this;
						$.get(url + "subject/delete", {
							id: that.dId
						}, function(result) {
							console.log(result);
							if(result.data == true) {
								$('#deleteClass').modal('hide');
								that.getClass();
							};
						});
					},
					goDetail: function(id) {
						sessionStorage.setItem("classId", id);
						window.location.href = "class-detail.htm";
					},
					changeClass: function(id,str) {
						sessionStorage.setItem("classId", id);
						if(str=='copy'){
							window.location.href = "copy-class.htm";
						}else{
							window.location.href = "change-class.htm";
						}
					},
					getTime: function(d) {
						var date1 = new Date(d);
						var y = date1.getFullYear();
						var m = this.addZero(date1.getMonth() + 1);
						var d = this.addZero(date1.getDate());
						var h = this.addZero(date1.getHours());
						var m2 = this.addZero(date1.getMinutes());
						var s = this.addZero(date1.getSeconds());
						var date2 = y + "-" + m + "-" + d + " " + h + ":" + m2 + ":" + s;
						return date2;
					},
					addZero: function(obj) {
						if(obj < 10) {
							obj = '0' + obj;
						};
						return obj;
					},
					firstPage: function() {
						var that = this;
						if(that.pageNum > 0) {
							$.get(url + "subject/list", {
								keyword: that.name,
								categoryId: that.sort,
								state: that.state,
								pageNum: 0,
								pageSize: that.pageSize
							}, function(result) {
								console.log(result)
								that.pageNum = 0;
								for(var i = 0; i < result.data.length; i++) {
									result.data[i].startDate = that.getTime(result.data[i].startDate);
									result.data[i].endDate = that.getTime(result.data[i].endDate);
								};
								that.subject = result.data;
							});
						}
					},
					prevPage: function() {
						var that = this;
						if(that.pageNum > 0) {
							that.pageNum--;
							$.get(url + "subject/list", {
								keyword: that.name,
								categoryId: that.sort,
								state: that.state,
								pageNum: that.pageNum,
								pageSize: that.pageSize
							}, function(result) {
								console.log(result)
								for(var i = 0; i < result.data.length; i++) {
									result.data[i].startDate = that.getTime(result.data[i].startDate);
									result.data[i].endDate = that.getTime(result.data[i].endDate);
								};
								that.subject = result.data;
							});
						}
					},
					nextPage: function() {
						var that = this;
						if(that.pageNum < that.allPage - 1) {
							that.pageNum++;
							$.get(url + "subject/list", {
								keyword: that.name,
								categoryId: that.sort,
								state: that.state,
								pageNum: that.pageNum,
								pageSize: that.pageSize
							}, function(result) {
								console.log(result)
								for(var i = 0; i < result.data.length; i++) {
									result.data[i].startDate = that.getTime(result.data[i].startDate);
									result.data[i].endDate = that.getTime(result.data[i].endDate);
								};
								that.subject = result.data;
							});
						}
					},
					lastPage: function() {
						var that = this;
						if(that.pageNum < that.allPage - 1) {
							$.get(url + "subject/list", {
								keyword: that.name,
								categoryId: that.sort,
								state: that.state,
								pageNum: that.allPage - 1,
								pageSize: that.pageSize
							}, function(result) {
								console.log(result)
								that.pageNum = that.allPage - 1;
								for(var i = 0; i < result.data.length; i++) {
									result.data[i].startDate = that.getTime(result.data[i].startDate);
									result.data[i].endDate = that.getTime(result.data[i].endDate);
								};
								that.subject = result.data;
							});
						}
					},
					out: function() {
						tb.out();
					}
				}
			});
		</script>
	</body>

</html>