<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>重建签证佣金表订单</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-reset.css" rel="stylesheet">
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<link href="css/clndr.css" rel="stylesheet"><!-- CALENDER CSS -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<script>
		function current_date()
  	{
  			var myDate = new Date();
  			var str_date = myDate.getDate()+'/'+(myDate.getMonth()+1)+'/'+myDate.getFullYear();
  			document.write(str_date);   			
  	}
		</script>
	</head>

	<body id="create-visa-commission" v-cloak>
		<section id="container">
			<header class="header white-bg">
				<div class="sidebar-toggle-box">
					<div data-placement="right" class="fa fa-bars tooltips">
					</div>
				</div>
				<a href="main.html" class="logo">
					佣金系统
					<span v-if="ap_list==='KJ'">
           	 会计
          </span>
          <span v-if="ap_list==='GW'">
           	 顾问
          </span>
          <span v-if="ap_list==='WA'">
           	 文案
          </span>
          <span v-if="ap_list==='MA'">
           	 Mara
          </span>
          <span v-if="ap_list==='SUPERAD'">
           	 超级管理员
          </span>
				</a>
				<div class="top-nav ">
					<ul class="nav pull-right top-menu">
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
                  {{admin}}
                </span>
								<b class="caret">
                </b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li class="log-arrow-up">
								</li>
								<li>
									<a href="password.html">
										<i class="fa fa-key">
                    </i> 修改密码
									</a>
								</li>
								<li><a href="javascript:tb.out();">
										<i class="fa fa-user">
                    </i> Log Out
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			<aside>
				<div id="sidebar" class="nav-collapse">
					<ul class="sidebar-menu" id="nav-accordion">
						<li >
              <a href="main.html" class="active">
                <i class="fa fa-dashboard">
                </i>
                <span>
                  Dashboard
                </span>
              </a>
            </li>
            <dli v-if="ap_list==='SUPERAD'">            
            <li>
              <a href="adviser.html">
                <i class="fa fa-book">
                </i>
                <span>
                  顾问管理
                </span>
              </a>
            </li>
            <li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 文案管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="official.html">
										文案管理
									</a>
								</li>
								<li>
									<a href="official-tag.html">
										订单标签管理
									</a>
								</li>								
							</ul>
						</li>
            <li>
              <a href="mara.html">
                <i class="fa fa-book">
                </i>
                <span>
                  MARA管理
                </span>
              </a>
            </li>
            <li>
              <a href="accounting.html">
                <i class="fa fa-book">
                </i>
                <span>
                  会计管理
                </span>
              </a>
            </li>
            <li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 学校管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="school.html">
										学校管理
									</a>
								</li>
								<li>
									<a href="school-setting.html">
										佣金设置
									</a>
								</li>								
							</ul>
						</li>
            <li>
              <a href="receive-type.html">
                <i class="fa fa-book">
                </i>
                <span>
                  收款方式管理
                </span>
              </a>
            </li>
            <li>
              <a href="subagency.html">
                <i class="fa fa-book">
                </i>
                <span>
                  Subagency管理
                </span>
              </a>
            </li>
            <li>
              <a href="service.html">
                <i class="fa fa-book">
                </i>
                <span>
                  服务项目管理
                </span>
              </a>
            </li>            
          	</dli>          	
          	<li v-if="ap_list!=='KJ' && ap_list!=='WA' && ap_list!=='MA'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 客户管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="users.html">
										客户管理
									</a>
								</li>
								<li v-if="ap_list==='SUPERAD'">
									<a href="user-tags.html">
										标签管理
									</a>
								</li>								
							</ul>
						</li>
						<li v-if="ap_list!=='KJ'">
							<a href="serviceorder-list.html">
                <i class="fa fa-book">
                </i>
                <span>
                  服务订单管理
                </span>
              </a>
						</li>
            <li v-if="ap_list==='SUPERAD'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 渠道管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="source.html">
										渠道列表
									</a>
								</li>
								<li>
									<a href="source-type.html">
										来源分类
									</a>
								</li>								
							</ul>
						</li>
						<li v-if="ap_list!=='WA' && ap_list!=='MA'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 佣金表
                </span>
							</a>
							<ul class="sub">
								<li v-if="ap_list==='GW' || ap_list==='SUPERAD'" class="active">
									<a href="mycommission.html">
										我的佣金报表
									</a>									
								</li>
								<li v-if="ap_list==='GW' || ap_list==='SUPERAD'" style="display:;" id="apply_state_PENDING">
									<a href="mycommission.html?applyState=PENDING">
										未申请月奖
									</a>									
								</li>
								<li v-if="ap_list==='GW' || ap_list==='SUPERAD'" style="display:;" id="apply_state_COMPLETE">
									<a href="mycommission.html?applyState=COMPLETE">
										已申请月奖
									</a>									
								</li>
								<li v-if="ap_list==='KJ'" id="commission_state_DJY">
									<a href="mycommission-accounting.html?commission_state=DJY">
										待结佣订单
									</a>									
								</li>
								<li v-if="ap_list==='KJ'" id="commission_state_YJY">
									<a href="mycommission-accounting.html?commission_state=YJY">
										已结佣订单
									</a>									
								</li>								
								<li v-if="ap_list==='SUPERAD' || ap_list==='KJ'">
									<a href="mycommission-check-accounting.html">
										自动对账
									</a>									
								</li>
								<li v-if="ap_list==='SUPERAD'">
									<a href="create-visa-commission.html">
										重建签证佣金表订单
									</a>
								</li>
								<li v-if="ap_list==='SUPERAD' || ap_list==='KJ'">
									<a href="table-export.html">
										导出数据
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 知识库
                </span>
							</a>
							<ul class="sub">
								<li v-if="ap_list==='SUPERAD'">
									<a href="knowledge-menu.html">
										菜单管理
									</a>
								</li>
								<li>
									<a href="knowledge.html">
										知识库菜单
									</a>
								</li>						
							</ul>
						</li>
					</ul>
				</div>
			</aside>
			<section id="main-content" class="content">
				<section class="wrapper site-min-height">					
         <div class="row">
	          	<div class="col-lg-12">
							<section class="panel">
								<header class="panel-heading">
									重建签证佣金表订单
								</header>
								<div class="panel-body">
									<div class="adv-table">
										<form class="form-horizontal">
											<div class="form-group">
												<label class="col-sm-2 control-label">签证服务订单列表：</label>
												<div class="col-sm-4">
													<textarea v-model.trim="strList" id="strList" class="form-control" style="width:500px;height:200px;" placeholder="多个ID，请用英文输入半角,逗号分隔。"></textarea>
												</div>
											</div>																						
											<div id="alert_success" class="alert alert-success fade in" style="display:none;position:absolute;z-index:9999;">
									      <button data-dismiss="alert" class="close close-sm" type="button">
									      <i class="fa fa-times"></i>
									      </button>
									      <strong id="success_info">Success! You  just achieved success.</strong>
									  	</div>
									  	<div id="alert_error" class="alert alert-block alert-danger fade in" style="display:none;position:absolute;z-index:9999;">
								        <button data-dismiss="alert" class="close close-sm" type="button">
								        <i class="fa fa-times"></i>
								        </button>
								        <strong id="error_info"></strong>
								      </div>
								      <div class="form-group">
												<div class="col-sm-8 text-danger" id="error_info"></div>
											</div>											
											<div class="form-group buttons">
												<div class="col-sm-8">
													<button @click="createOrder" type="button" class="btn btn-primary">重建佣金表订单</button>
												</div>
											</div>
										</form>
								</div>
							</section>	
							</div>         
          </div>          
				</section>
			</section>
			<footer class="site-footer">
				<div class="text-center">
					2018 &copy; 佣金系统 by <span style="color:#2a8ba7;">GIG</span>.
					<a href="#" class="go-top">
						<i class="fa fa-angle-up">
            </i>
					</a>
				</div>
			</footer>
		</section>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/common-scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/ajaxfileupload.js"></script>
		<script src="js/common.js?verson=1"></script>
		<script src="js/calendar/clndr.js"></script><!-- CALENDER JS -->
    <script src="js/calendar/evnt.calendar.init.js"></script><!-- CALENDER EVENT JS -->
    <script src="js/calendar/moment-2.2.1.js"></script><!-- CALENDER MOMENT JS -->
    <script src="js/underscore-min.js"></script><!-- UNDERSCORE JS -->
		<script>
			tb.isLogin("create-visa-commission.html");
			$("td,th").addClass("text-center");
			var v = new Vue({
				el: '#create-visa-commission',
				data: {
					admin: sessionStorage.getItem("admin"),
					ap_list: sessionStorage.getItem("ap_list"),	
					subject: [],					
					showTime: 2000,
					order_detail: [],
					orderType: '',
					servicepackage_type: '',
					submitted: 0,
					birthday: '',
					subagency_id: 0,
					parentId: 0,
					error: ''
				},created: function() {					
				},methods: {					
					getTime: function(d) {
						var date1 = new Date(d);
						var y = date1.getFullYear();
						var m = this.addZero(date1.getMonth() + 1);
						var d = this.addZero(date1.getDate());
						var h = this.addZero(date1.getHours());
						var m2 = this.addZero(date1.getMinutes());
						var s = this.addZero(date1.getSeconds());
						//var date2 = y + "-" + m + "-" + d;
						var date2 = d+"/"+m+"/"+y;
						return date2;
					},
					addZero: function(obj) {
						if(obj < 10) {
							obj = '0' + obj;
						};
						return obj;
					},				
					createOrder: function() {
						var that = this;
						//var order_list = '1001286,1001287,1001293,1001299,1001300,1001301,1001370,1001372,1001375,1001379,1001388,1001389,1001399,1001400,1001402,1001403,1001404,1001405,1001410,1001412,1001413,1001414,1001418,1001420,1001427';
						var order_list = that.strList;						
						if (order_list == '')
						{
								$('#alert_error').css('marginLeft','30%');
		   					$('#alert_error').addClass('alert-danger').show().delay(3000).fadeOut();
	        			$("#error_info").html('服务订单列表为空！请设置。');
	        			return false;
						}
						var arr = order_list.split(",");
						for(i = 0;i < arr.length; i++)
						{
								var orderId = arr[i];
								$.ajaxSettings.async = false; 
								$.ajax({
							      url: url + 'serviceOrder/get?id='+orderId,
							      type: 'GET',
							      dataType: 'json'
						    }).done(function(response) {			        	
							    	response = response.data;
							    	that.orderType = response.type;
							    	that.orderId = orderId;  	
							    	that.order_detail = response;//存储数据到本地
							    	if (response.type == 'VISA')//签证
    								{
									    	if (response.parentId)
				        				{
				        						that.orderType = 'SIV';
				        						that.servicepackage_type = response.servicePackage.type;
				        				}else
				        				{
				        						that.servicepackage_type = 'VA';
				        				}
		        				}else if (response.type == 'OVST')//留学
    								{
    										that.submitted = response.submitted;
        								that.birthday = that.getTime(response.user.birthday);
        								that.subagency_id = response.subagencyId;
    								}else if (response.type == 'SIV')//独立技术移民
    								{
    										that.parentId = response.parentId;
    								}
    								reqCommissionVisa();
						    });
						}
																			
					}
				}
			});
			//alert(sessionStorage.getItem("ap_list"));			
			
			function show_knowledge_detail(id,parentId)
      {
      		sessionStorage.setItem("id", id);
      		sessionStorage.setItem("menu_parentid", parentId);
					window.location.href = "knowledge.html"; 
      }
      
      function reqCommissionVisa()
			{
					var result_data = {};
					var order = v.order_detail;		
					if (order.pay == true)
					{
							var str_url = url + "visa/add";
					   	var json = {};
					   	   	
					   	json['userId'] = order.userId;
					   	json['handlingDate'] = new Date().getTime();
					   	json['receiveTypeId'] = order.receiveTypeId;
					   	json['receiveDate'] = order.receiveDate;
					   	json['serviceId'] = order.serviceId;   	
					   	json['serviceOrderId'] = order.id;
					   	json['installment'] = order.installment;
					   	json['receivable'] = order.receivable;
					   	json['received'] = order.received;
					   	json['perAmount'] = order.perAmount;
					   	json['amount'] = order.amount;
					   	//json['discount'] = order.discount;
					   	json['adviserId'] = order.adviserId;
					   	json['maraId'] = order.maraId;
					   	json['officialId'] = order.officialId;
					   	json['remarks'] = order.remarks;
					   	
					   	$.post(str_url, json,
					   	function(data){
					   			$('#loading_id').modal('hide');
					   			if (data.code != 0)
					   			{
					   					v.error += 'ID:'+v.orderId+'&nbsp;&nbsp;<span style="color:red;">失败！</span>原因：'+data.message+'<br/>';
					   					$('#alert_error').css('marginLeft','30%');
					   					$('#alert_error').addClass('alert-danger').show().delay(5000).fadeOut();
				        			$("#error_info").html(data.message);
				        			//return false;		   					
					   			}else
					   			{
					   					v.error += 'ID:'+v.orderId+'&nbsp;&nbsp;成功！<br/>';
					   					$('#alert_success').css('marginLeft','30%');
					   					$('#alert_success').addClass('alert-success').show().delay(5000).fadeOut();					   				
					   			}
					   			$('#error_info').html(v.error);
					   	});
			  	}  	
			}			
    	    	
		</script>
	</body>

</html>