<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>客户详情</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-reset.css" rel="stylesheet">
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="teamBuyer" v-cloak>
		<section id="container">
			<header class="header white-bg">
				<div class="sidebar-toggle-box">
					<div data-placement="right" class="fa fa-bars tooltips">
					</div>
				</div>
				<a href="class-list.htm" class="logo">
					指南针教育
					<span>
           	 ADMIN
          </span>
				</a>
				<div class="top-nav ">
					<ul class="nav pull-right top-menu">
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
                  {{admin}}
                </span>
								<b class="caret">
                </b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li class="log-arrow-up">
								</li>
								<li>
									<a @click="out" href="javascript:;">
										<i class="fa fa-key">
                    </i> Log Out
									</a>
								</li>
								<li></li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			<aside>
				<div id="sidebar" class="nav-collapse">
					<ul class="sidebar-menu" id="nav-accordion">
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 课程管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="class-list.htm">
										课程列表
									</a>
								</li>
								<li>
									<a href="add-class.htm">
										新增课程
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-tasks">
                </i>
								<span>
             		 订单管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="order-list.htm">
										订单列表
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-th">
                </i>
								<span>
          				分类管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="sort-list.htm">
										分类列表
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;" class="active">
								<i class=" fa fa-user">
                </i>
								<span>
                  	客户管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="customer-list.htm">
										客户列表
									</a>
								</li>
								<li>
									<a href="customer-list2.htm">
										来源统计
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-laptop">
                </i>
								<span>
              		顾问管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="adviser-list.htm">
										顾问列表
									</a>
								</li>
								<li>
									<a href="add-adviser.htm">
										新增顾问
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-map-marker">
                </i>
								<span>
              		区域管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="area-list.htm">
										区域列表
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</aside>
			<section id="main-content" class="content">
				<section class="wrapper site-min-height">
					<div class="row">
						<div class="col-lg-12">
							<section class="panel panel-primary">
								<header class="panel-heading">
									客户详情
								</header>
								<div class="panel-body">
									<div class="adv-table">
										<form class="form-horizontal">
											<div class="form-group">
												<label class="col-sm-2 control-label text-primary big-font">基本信息</label>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">客户ID</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.id}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">客户名称</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.name}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">登录授权分类</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.authType | authType}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">用户名</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.authNickname}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">电话号码</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.phone}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">微信号</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.authUsername}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">邮箱</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.email}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">余额</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.balance}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">所属顾问</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.adviserDto.name}}</p>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-2 control-label">创建时间</label>
												<div class="col-sm-10">
													<p class="form-control-static">{{customer.gmtCreate}}</p>
												</div>
											</div>
											<div class="form-group border-top"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label text-primary big-font">订单信息</label>
											</div>
											<div class="form-group">
												<div class="col-sm-10">
													<div class="responsive-table">
														<table class="display table table-bordered table-striped" id="example">
															<thead>
																<tr>
																	<th>订单编号</th>
																	<th>课程名称</th>
																	<th>购买数量</th>
																	<th>已支付金额</th>
																	<th>待付款金额</th>
																	<th>尾款金额</th>
																	<th>支付方式</th>
																	<th>订单状态</th>
																	<th>分配顾问</th>
																	<th>分配时间</th>
																</tr>
															</thead>
															<tbody>
																<tr v-for="item in userOrder" class="gradeX">
																	<td>
																		<a @click="goOrder(item.id)" href="javascript:;" class="text-primary">{{item.id}}</a>
																	</td>
																	<td>
																		<a @click="goClass(item.subjectDto.id)" href="javascript:;" class="text-primary">{{item.name}}</a>
																	</td>
																	<td>{{item.num}}</td>
																	<td>{{item.payAmount}}</td>
																	<td>{{item.subjectDto.price | minus item.subjectDto.preAmount}}</td>
																	<td>{{item.subjectDto.price | minus item.subjectDto.preAmount}}</td>
																	<td>{{item.payType | payType}}</td>
																	<td>{{item.state | state}}</td>
																	<td>{{item.adviserDo.name}}</td>
																	<td>{{item.adviserDate}}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="form-group border-top"></div>
											<div class="form-group">
												<label class="col-sm-2 control-label text-primary big-font">分享返佣信息</label>
											</div>
											<div class="form-group">
												<div class="col-sm-10">
													<div class="responsive-table">
														<table class="display table table-bordered table-striped" id="example">
															<thead>
																<tr>
																	<th>获得金额</th>
																	<th>分享课程</th>
																	<th>来自客户</th>
																	<th>购买客户</th>
																	<th>获得金额时间</th>
																</tr>
															</thead>
															<tbody>
																<tr v-for="item in recommendOrder" class="gradeX">
																	<td>$5</td>
																	<td>
																		<a @click="goClass(item.subjectDto.id)" href="javascript:;" class="text-primary">{{item.subjectDto.name}}</a>
																	</td>
																	<td>
																		<a @click="goCustomer(item.userDo.id)" href="javascript:;" class="text-primary">{{item.userDo.authNickname}}</a>
																	</td>
																	<td>
																		<a @click="goCustomer(item.userDo.id)" href="javascript:;" class="text-primary">{{item.userDo.authNickname}}</a>
																	</td>
																	<td>{{item.payDate}}</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</form>

									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
			</section>
			<footer class="site-footer">
				<div class="text-center">
					2017 &copy; 指南针教育 ADMIN
					<a href="#" class="go-top">
						<i class="fa fa-angle-up">
            </i>
					</a>
				</div>
			</footer>
		</section>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/common-scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/common.js?verson=1"></script>
		<script>
			tb.isLogin("customer-detail.htm");
			$("td,th").addClass("text-center");
			var v = new Vue({
				el: '#teamBuyer',
				data: {
					admin: sessionStorage.getItem("admin"),
					customer: {},
					userOrder: {},
					recommendOrder: {}

				},
				created: function() {
					this.getCustomer();
				},
				filters: {
					authType: function(str) {
						if(str == "WECHAT") {
							return "微信";
						}
					},
					state: function(str) {
						if(str == "NEW") {
							return "待付款";
						} else if(str == "WAIT") {
							return "待成团";
						} else if(str == "SUCCESS") {
							return "已成团";
						} else if(str == "END") {
							return "未成团";
						}
					},
					payType: function(str) {
						if(str == "PAYPAL") {
							return "PayPal";
						} else if(str == "WECHAT") {
							return "微信支付";
						} else if(str == "BALANCE") {
							return "余额";
						} else if(str == "OTHER") {
							return "其它支付方式";
						}
					},

					minus: function(num1, num2) {
						return num1 - num2;
					}
				},
				methods: {
					getCustomer: function() {
						var that = this;
						$.get(url + "user/get", {
							id: sessionStorage.getItem("userId")
						}, function(result) {
							console.log(result)
							result.data.gmtCreate = that.getTime(result.data.gmtCreate);
							that.customer = result.data;
						});
						$.get(url + "order/listByUser", {
							userId: sessionStorage.getItem("userId"),
							classify: "USER"
						}, function(result) {
							console.log(result);
							for(var i = 0; i < result.data.length; i++) {
								result.data[i].adviserDate = that.getTime(result.data[i].adviserDate);
							}
							that.userOrder = result.data;
						});
						$.get(url + "order/listByUser", {
							userId: sessionStorage.getItem("userId"),
							classify: "RECOMMEND"
						}, function(result) {
							console.log(result);
							for(var i = 0; i < result.data.length; i++) {
								result.data[i].payDate = that.getTime(result.data[i].payDate);
							}

							that.recommendOrder = result.data;
						});
					},
					goOrder: function(id) {
						sessionStorage.setItem("orderId", id);
						window.location.href = "order-detail.htm";
					},
					goClass: function(id) {
						sessionStorage.setItem("classId", id);
						window.location.href = "class-detail.htm";
					},
					goCustomer: function(id) {
						sessionStorage.setItem("userId", id);
						window.location.href = "customer-detail.htm";
					},
					getTime: function(d) {
						var date1 = new Date(d);
						var y = date1.getFullYear();
						var m = this.addZero(date1.getMonth() + 1);
						var d = this.addZero(date1.getDate());
						var h = this.addZero(date1.getHours());
						var m2 = this.addZero(date1.getMinutes());
						var s = this.addZero(date1.getSeconds());
						var date2 = y + "-" + m + "-" + d + " " + h + ":" + m2 + ":" + s;
						return date2;
					},
					addZero: function(obj) {
						if(obj < 10) {
							obj = '0' + obj;
						};
						return obj;
					},
					out: function() {
						tb.out();
					}
				}
			});
		</script>
	</body>

</html>