<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>Dashboard</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-reset.css" rel="stylesheet">
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<link href="css/clndr.css" rel="stylesheet"><!-- CALENDER CSS -->
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
		<script>
		function current_date()
  	{
  			var myDate = new Date();
  			var str_date = myDate.getDate()+'/'+(myDate.getMonth()+1)+'/'+myDate.getFullYear();
  			document.write(str_date);   			
  	}
		</script>
	</head>

	<body id="dashboard" v-cloak>
		<section id="container">
			<header class="header white-bg">
				<div class="sidebar-toggle-box">
					<div data-placement="right" class="fa fa-bars tooltips">
					</div>
				</div>
				<a href="main.html" class="logo">
					佣金系统
					<span v-if="ap_list==='KJ'">
           	 会计
          </span>
          <span v-if="ap_list==='GW'">
           	 顾问
          </span>
          <span v-if="ap_list==='WA'">
           	 文案
          </span>
          <span v-if="ap_list==='MA'">
           	 Mara
          </span>
          <span v-if="ap_list==='SUPERAD'">
           	 超级管理员
          </span>
				</a>
				<div class="top-nav ">
					<ul class="nav pull-right top-menu">
						<li style="padding-right:15px;"><a href="bank-info.html" style="color:white;" target="_blank">转账信息</a></li>
						<li style="padding-right:15px;"><a href="knowledge-detail.html?id=1000164" style="color:#ff6c60;">帮助中心</a></li>
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
                  {{admin}}
                </span>
								<b class="caret">
                </b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li class="log-arrow-up">
								</li>
								<li>
									<a href="password.html">
										<i class="fa fa-key">
                    </i> 修改密码
									</a>
								</li>
								<li><a href="javascript:tb.out();">
										<i class="fa fa-user">
                    </i> Log Out
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			<aside>
				<div id="sidebar" class="nav-collapse">
					<ul class="sidebar-menu" id="nav-accordion">
						<li >
              <a href="main.html" class="active">
                <i class="fa fa-dashboard">
                </i>
                <span>
                  Dashboard
                </span>
              </a>
            </li>
            <dli v-if="ap_list==='SUPERAD'">            
            <li>
              <a href="adviser.html">
                <i class="fa fa-book">
                </i>
                <span>
                  顾问管理
                </span>
              </a>
            </li>
            </dli>
            <dli v-if="ap_list==='SUPERAD' || (ap_list==='WA' && wa_admin === 'true')"> 
            <li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 文案管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="official.html">
										文案管理
									</a>
								</li>
								<li>
									<a href="official-tag.html">
										订单标签管理
									</a>
								</li>								
							</ul>
						</li>
            </dli>
            <dli v-if="ap_list==='SUPERAD'"> 
            <li>
              <a href="mara.html">
                <i class="fa fa-book">
                </i>
                <span>
                  MARA管理
                </span>
              </a>
            </li>
            <li>
              <a href="accounting.html">
                <i class="fa fa-book">
                </i>
                <span>
                  会计管理
                </span>
              </a>
            </li>
          	</dli>
          	<dli v-if="ap_list==='SUPERAD' || (ap_list==='GW' && gw_regionid !== 'null') || ap_list==='KJ'">
            <li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 学校管理
                </span>
							</a>
							<ul class="sub">
								<li v-if="ap_list==='SUPERAD'">
									<a href="school.html">
										学校管理
									</a>
								</li>
								<li>
									<a href="school-setting.html">
										佣金设置
									</a>
								</li>								
							</ul>
						</li>
						</dli>
						<dli v-if="ap_list==='SUPERAD'">
            <li>
              <a href="receive-type.html">
                <i class="fa fa-book">
                </i>
                <span>
                  收款方式管理
                </span>
              </a>
            </li>
            <li>
              <a href="subagency.html">
                <i class="fa fa-book">
                </i>
                <span>
                  Subagency管理
                </span>
              </a>
            </li>
            <li class="sub-menu">
            	<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 服务管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="service.html">
										服务项目管理
									</a>
								</li>
								<li>
									<a href="service-package.html">
										服务包管理
									</a>
								</li>
								<li>
									<a href="visa-ca.html">
										签证职业评估管理
									</a>
								</li>							
							</ul>              
            </li>            
          	</dli>          	
          	<li v-if="ap_list!=='KJ' && ap_list!=='WA' && ap_list!=='MA'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 客户管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="users.html">
										客户管理
									</a>
								</li>
								<li v-if="ap_list==='SUPERAD'">
									<a href="user-tags.html">
										标签管理
									</a>
								</li>								
							</ul>
						</li>
						<li v-if="ap_list!=='KJ'" class="sub-menu">
							<a href="serviceorder-list.html">
                <i class="fa fa-book">
                </i>
                <span>
                  服务订单管理
                </span>
              </a>
						</li>
            <li v-if="ap_list==='SUPERAD'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 渠道管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="source.html">
										渠道列表
									</a>
								</li>
								<li>
									<a href="source-type.html">
										来源分类
									</a>
								</li>								
							</ul>
						</li>
						<li v-if="ap_list!=='WA' && ap_list!=='MA'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 佣金表
                </span>
							</a>
							<ul class="sub">
								<li v-if="ap_list==='GW' || ap_list==='SUPERAD'" class="active">
									<a href="mycommission.html">
										我的佣金报表
									</a>									
								</li>
								<li v-if="ap_list==='GW' || ap_list==='SUPERAD'" style="display:;" id="apply_state_PENDING">
									<a href="mycommission.html?applyState=PENDING">
										未申请月奖
									</a>									
								</li>
								<li v-if="ap_list==='GW' || ap_list==='SUPERAD'" style="display:;" id="apply_state_COMPLETE">
									<a href="mycommission.html?applyState=COMPLETE">
										已申请月奖
									</a>									
								</li>
								<li v-if="ap_list==='KJ'" id="commission_state_DJY">
									<a href="mycommission-accounting.html?commission_state=DJY">
										待结佣订单
									</a>									
								</li>
								<li v-if="ap_list==='KJ'" id="commission_state_YJY">
									<a href="mycommission-accounting.html?commission_state=YJY">
										已结佣订单
									</a>									
								</li>
								<li v-if="ap_list==='SUPERAD' || ap_list==='KJ'">
									<a href="accounting-bank.html">
										转账信息配置
									</a>									
								</li>
								<li v-if="ap_list==='SUPERAD' || ap_list==='KJ'">
									<a href="accounting-bankbill.html">
										银行对账单
									</a>									
								</li>	
								<li v-if="ap_list==='SUPERAD' || ap_list==='KJ'">
									<a href="mycommission-check-accounting.html">
										自动对账
									</a>									
								</li>
								<li v-if="ap_list==='SUPERAD'">
									<a href="create-visa-commission.html">
										重建签证佣金表订单
									</a>
								</li>
								<li v-if="ap_list==='SUPERAD' || ap_list==='KJ'">
									<a href="table-export.html">
										导出数据
									</a>
								</li>
							</ul>
						</li>						
						<li v-if="ap_list==='KJ' || ap_list==='SUPERAD'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 Tax Invoice管理
                </span>
							</a>
							<ul class="sub">
								<li id="invoice_">
									<a href="taxinvoice-list.html?state=&type=SF">
										Tax Invoice列表
									</a>									
								</li>
								<li id="invoice_canceled">
									<a href="taxinvoice-list.html?state=canceled&type=SF">
										已Cancel列表
									</a>									
								</li>															
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 知识库
                </span>
							</a>
							<ul class="sub">
								<li v-if="ap_list==='SUPERAD'">
									<a href="knowledge-menu.html">
										菜单管理
									</a>
								</li>								
								<li>
									<a href="knowledge.html">
										知识库菜单
									</a>
								</li>
								<li>
									<a href="http://question.zhinanzhen.org/api/users/znz/{{admin}}" target="_blank">
										指南针问答
									</a>
								</li>
							</ul>
						</li>						
					</ul>
				</div>
			</aside>
			<section id="main-content" class="content">
				<section class="wrapper site-min-height">
					<div class="row state-overview">
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-tags blue">
                  </i>
                </div>
                <div class="value">
                  <h1 class="count" id="user_count">0</h1>
                  <p>
                    客户总数
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-user yellow">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count3" id="user_count_month">0</h1>
                  <p>
                    本月新客户
                  </p>
                </div>
              </section>
            </div>
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-money red">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count2" id="get_month_expect_amount">0</h1>
                  <p>
                    本月预计佣金
                  </p>
                </div>
              </section>
            </div>            
            <div class="col-lg-3 col-sm-6">
              <section class="panel">
                <div class="symbol">
                  <i class="fa fa-shopping-cart purple">
                  </i>
                </div>
                <div class="value">
                  <h1 class=" count4">0</h1>
                  <p>
                    待回款佣金
                  </p>
                </div>
              </section>
            </div>
          </div>
          <div class="row">
          	<div class="col-lg-12">
          		<section class="panel">
                  <header class="panel-heading">
                     <span class="label" style="color:#58c9f3;font-size:20px;">回访提醒</span>
                     <span class="tools pull-right">
                     <script>current_date();</script>
                     </span>
                  </header>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>Id</th>
                           <th>姓名</th>                           
                           <th>时间</th>
                           <th>咨询内容</th>                           
                           <th>提醒时间</th>
                           <th>提醒内容</th>
                           <th>操作</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="item in datalist4">
                           <td v-html="item.id"></td>
                           <td v-html="item.userName"></td>
                           <td v-html="item.gmtCreate"></td>
                           <td v-html="item.contents"></td>
                           <td v-html="item.remindDate"></td>
                           <td v-html="item.remindContents"></td>
                           <td><button type="button" class="btn btn-default btn-sm" @click="close_confirm2($index,item.id,item.userId,1)">关闭提醒</button></td>
                        </tr>                        
                     </tbody>
                  </table>
               </section>
          	</div>          	
          </div>        
          <div class="row" style="display:none;">
          	<div class="col-lg-6">
              <div class="panel">
                <div class="panel-body">
                  <div class="calendar-block ">
                    <div class="cal1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
               <section class="panel">
                  <header class="panel-heading">
                     <span class="label" style="color:#58c9f3;font-size:20px;">待收佣学生</span>
                     <span class="tools pull-right">
                     <script>current_date();</script>
                     </span>
                  </header>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>#</th>
                           <th>姓名</th>
                           <th>电话</th>
                           <th>学校</th>
                           <th>提醒日期</th>
                           <th>&nbsp;</th>
                           <th>&nbsp;</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="item in subject">
                           <td v-html="item.id"></td>
                           <td v-html="item.userName"></td>
                           <td v-html="item.phone"></td>
                           <td v-html="item.schoolName"></td>
                           <td v-html="item.remindDate"></td>
                           <td><button type="button" class="btn btn-info btn-sm" onclick="window.location.href='table-2.html'">录入佣金表</button></td>
                           <td><button type="button" style="display:;" class="btn btn-default btn-sm" @click="close_confirm($index,item.id,1)">关闭提醒</button></td>
                        </tr>
                        
                     </tbody>
                  </table>
               </section>
            </div> 
          </div>
          <div class="row">
          	<div class="col-lg-6">
          		<section class="panel">
                  <header class="panel-heading">
                     <span class="label" style="color:#58c9f3;font-size:20px;">本月待申月奖订单</span>
                     <span class="tools pull-right">
                     <script>current_date();</script>
                     </span>
                  </header>
                  <table class="table">
                     <thead>
                        <tr>
                           <th width="80">订单ID</th>
                           <th>Installment Due Date</th>
                           <th>客户姓名</th>
                           <th>学校</th>
                           <th>操作</th>                           
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="item in subject1">
                           <td v-html="item.id"></td>
                           <td v-html="item.installmentDueDate"></td>
                           <td v-html="item.userName"></td>
                           <td v-html="item.schoolName"></td>
                           <td><a href="mycommission-ovst.html?service_id={{item.serviceOrderId}}&order_id={{item.id}}" target="_blank">查看</a></td>
                        </tr>                        
                     </tbody>
                  </table>
               </section>
          	</div>
          	<div class="col-sm-6">
          		<section class="panel">
                  <header class="panel-heading">
                     <span class="label" style="color:#58c9f3;font-size:20px;">签证列表</span>
                     <span class="tools pull-right">
                     <script>current_date();</script>
                     </span>
                  </header>
                  <table class="table">
                     <thead>
                        <tr>
                           <th>签证到期时间</th>
                           <th>客户姓名</th>
                           <th>操作</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr v-for="item in subject2">
                           <td v-html="item.visaExpirationDate" style="color:#ff6c60;"></td>
                           <td v-html="item.userName"></td>
                           <td><a href="javascript:show_detail({{item.id}});">查看详细</a></td>
                        </tr>                        
                     </tbody>
                  </table>
               </section>
          	</div>
          </div>
          
				</section>
			</section>
			<footer class="site-footer">
				<div class="text-center">
					2018 &copy; 佣金系统 by <span style="color:#2a8ba7;">GIG</span>.
					<a href="#" class="go-top">
						<i class="fa fa-angle-up">
            </i>
					</a>
				</div>
			</footer>
		</section>
		<div class="modal fade" id="close_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="close_title">关闭</h4>
					</div>
					<div class="modal-body">
						确认<span id="close_title1">关闭提醒</span>吗？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button onclick="closeId()" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div id="load-mycommission-ovst-view-page"></div>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/common-scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/ajaxfileupload.js"></script>
		<script src="js/common.js?verson=1"></script>
		<script src="js/calendar/clndr.js"></script><!-- CALENDER JS -->
    <script src="js/calendar/evnt.calendar.init.js"></script><!-- CALENDER EVENT JS -->
    <script src="js/calendar/moment-2.2.1.js"></script><!-- CALENDER MOMENT JS -->
    <script src="js/underscore-min.js"></script><!-- UNDERSCORE JS -->
		<script>
			$("#load-mycommission-ovst-view-page").load("mycommission-ovst-common-view.html?random="+Math.random());
			tb.isLogin("main.html");
			$("td,th").addClass("text-center");
			var v = new Vue({
				el: '#dashboard',
				data: {
					admin: sessionStorage.getItem("admin"),
					ap_list: sessionStorage.getItem("ap_list"),
					gw_regionid: sessionStorage.getItem("gw_regionid"),
					wa_admin: sessionStorage.getItem("wa_admin"),
					subject: [],
					subject1: [],	
					subject2: [],
					datalist4: [],
					dId: '',
					index: 0,
					showTime: 2000,
					eror: ''
				},created: function() {
					this.getDatalist();
					this.getDatalist1();
					this.getDatalist2();
					this.getDatalist4();
				},methods: {			    								
					getDatalist: function() {
						var that = this;																
						var myDate = new Date();
  					var str_date = myDate.getFullYear()+'-'+(myDate.getMonth()+1)+'-'+myDate.getDate();
  					//str_date = '2019-06-27';
  					var date = new Date(str_date);
			    	var current_tp = date.getTime();
						$.get(url + "remind/listByDate?date="+current_tp, {										
						}, function(result) {
							console.log(result)
							that.pageNum = 0;
							for(var i = 0; i < result.data.length; i++) {
									//result.data[i].id = result.data[i].id;
									result.data[i].phone = result.data[i].schoolBrokerageSa.phone;
									result.data[i].schoolName = result.data[i].schoolBrokerageSa.schoolName;
									result.data[i].remindDate = that.getTime(result.data[i].remindDate);
									result.data[i].userName = '<a href="javascript:;" onclick="show_detail('+result.data[i].schoolBrokerageSa.userId+');">'+result.data[i].schoolBrokerageSa.userName+'</a>';//需调用name字段
							};
							that.subject = result.data;
							//console.log(that.subject);
						});
					},
					getDatalist1: function() {
						var that = this;
						var myDate = new Date();
  					var str_date = myDate.getFullYear()+'-'+(myDate.getMonth()+1)+'-'+myDate.getDate();
  					var date = new Date(str_date);
			    	var current_tp = date.getTime();	
						$.get(url + "dashboard/listThisMonthCommissionOrder", {							
						}, function(result) {
							console.log(result)
							for(var i = 0; i < result.data.length; i++) {
									//result.data[i].id = result.data[i].id;
									//result.data[i].userName = '<a href="javascript:;" onclick="show_detail('+result.data[i].visa.userId+');">'+result.data[i].visa.userName+'</a>';
									result.data[i].userName = result.data[i].user.name;
									result.data[i].schoolName = result.data[i].school.name;
									result.data[i].installmentDueDate = that.getTime(result.data[i].installmentDueDate);
							};
							that.subject1 = result.data;
							console.log(that.subject1);
						});
					},
					getDatalist2: function() {
						var that = this;
						var myDate = new Date();
  					var str_date = myDate.getFullYear()+'-'+(myDate.getMonth()+1)+'-'+myDate.getDate();
  					var date = new Date(str_date);
			    	var current_tp = date.getTime();
			    	//current_tp = 2000000000000;//临时使用		
						$.get(url + "visaRemind/listVisaRemindDateDesc?pageNum=1&pageSize=10", {							
						}, function(result) {
							console.log(result)
							for(var i = 0; i < result.data.length; i++) {									
									//result.data[i].id = result.data[i].id;
									result.data[i].userName = '<a href="javascript:;" onclick="show_detail('+result.data[i].id+');">'+result.data[i].name+'</a>';
									result.data[i].visaExpirationDate = that.getTime(result.data[i].visa_expiration_date);
									if (result.data[i].visaExpirationDate == '1970-01-01') result.data[i].visaExpirationDate = '';
							};
							that.subject2 = result.data;
							console.log(that.subject2);
						});
					},
					getDatalist4: function() {
						var that = this;
						var myDate = new Date();
  					var str_date = myDate.getFullYear()+'-'+(myDate.getMonth()+1)+'-'+myDate.getDate();
  					var date = new Date(str_date);
			    	var current_tp = date.getTime();
			    	//current_tp = 2000000000000;//临时使用		
						$.get(url + "consultation/listByDate?date="+current_tp, {							
						}, function(result) {
							console.log(result)
							for(var i = 0; i < result.data.length; i++) {									
									result.data[i].id = result.data[i].id;
									result.data[i].userName = '<a href="javascript:;" onclick="show_detail('+result.data[i].userId+');">'+result.data[i].userName+'</a>';//需调用name字段
									result.data[i].gmtCreate = that.getTime(result.data[i].gmtCreate);
									if (typeof(result.data[i].remindDate) != "undefined")
									{
											result.data[i].remindDate = that.getTime(result.data[i].remindDate);											
									}else
									{
											result.data[i].remindDate = '';
									}
							};
							that.datalist4 = result.data;
						});
					},
					getTime: function(d) {
						var date1 = new Date(d);
						var y = date1.getFullYear();
						var m = this.addZero(date1.getMonth() + 1);
						var d = this.addZero(date1.getDate());
						var h = this.addZero(date1.getHours());
						var m2 = this.addZero(date1.getMinutes());
						var s = this.addZero(date1.getSeconds());
						var date2 = y + "-" + m + "-" + d;
						return date2;
					},
					addZero: function(obj) {
						if(obj < 10) {
							obj = '0' + obj;
						};
						return obj;
					},
					close_confirm: function (index,id,close) {
						if(confirm("确认关闭该学生所有后续确认就读提醒？"))
						{
		          	var str_url = url+'remind/updateStateById';
		          	$.post(str_url, {
									id: id,
									state: 'DISABLED'
								}, function(result) {
									if(result.data == true) {								
				   					//重新载入数据源
				   					location.reload();
									};
								});
						}
          },
          close_confirm1: function (index,id,close) {
          	if(confirm("确认关闭提醒？"))
						{
		          	var str_url = url+'remind/updateStateById';
		          	$.post(str_url, {
									id: id,
									state: 'DISABLED'
								}, function(result) {
									//console.log(result);
									if(result.data == true) {								
				   					//重新载入数据源
				   					location.reload();
									};
								});
						}
          },
          close_confirm2: function (index,id,userId,close) {
          	if(confirm("确认关闭提醒？"))
						{
		          	var str_url = url+'consultation/update';
		          	$.post(str_url, {
									id: id,
									userId: userId,
									state: 'DISABLED'
								}, function(result) {
									//console.log(result);
									if(result.data.id) {								
				   					//重新载入数据源
				   					location.reload();
									};
								});
						}
          }
				}
			});
			//alert(sessionStorage.getItem("ap_list"));
			init_getData();
			
			function init_getData()
      {
					$.get(url+"user/count", {
					}, function(result) {
						console.log(result);
						if(result.code == '0') {
							$("#user_count").html(result.data);
						};
					});
					//本月用户
					$.get(url+"user/countMonth", {
					}, function(result) {
						console.log(result);
						if(result.code == '0') {
							$("#user_count_month").html(result.data);
						};
					});
					//本月佣金
					$.get(url+"dashboard/getMonthExpectAmount", {
					}, function(result) {
						console.log(result);
						if(result.code == '0') {
							var amount = result.data;
							var str_amount = amount.toFixed(2);
							$("#get_month_expect_amount").html(str_amount);
						};
					});      		
      }
      
      function show_detail(id)
      {
      		sessionStorage.setItem("userId", id);
					window.location.href = "user-detail.html"; 
      }
      
      function show_knowledge_detail(id)
      {
      		sessionStorage.setItem("id", id);
					window.location.href = "knowledge.html"; 
      }
      
      function opennew_detail(serviceId,orderId)
      {
      		window.location.href = "mycommission-ovst.html?service_id="+serviceId+"&order_id="+orderId; 
      }
      
      function url_replace(str)
			{
					var reg = /((http|ftp|https):\/\/)?[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/g;
					str=str.replace(reg,function(a){
					    if(!a.indexOf('http'))
					    {
					    	return '<a href="'+a+'" target="_blank">'+a+'</a>';
					    }else
					    {
					    	return '<a href="http://'+a+'" target="_blank">'+a+'</a>';
					    }
					});
					return str;
			}						
    	    	
		</script>
	</body>

</html>