<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>我的佣金报表</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-reset.css" rel="stylesheet">
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/bootstrap-datepicker/css/datepicker.css"><!-- BOOTSTRAP DATEPICKER PLUGIN CSS -->
		<link rel="stylesheet" type="text/css" href="assets/bootstrap-timepicker/compiled/timepicker.css"><!-- BOOTSTRAP TIMEPICKER PLUGIN CSS -->		
		<link rel="stylesheet" type="text/css" href="css/jquery.autocompleter.css">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="mycommission-ovst" v-cloak>
<section id="container">
			<header class="header white-bg">
				<div class="sidebar-toggle-box">
					<div data-placement="right" class="fa fa-bars tooltips">
					</div>
				</div>
				<a href="main.html" class="logo">
					佣金系统
					<span v-if="ap_list==='KJ'">
           	 会计
          </span>
          <span v-if="ap_list==='GW'">
           	 顾问
          </span>
          <span v-if="ap_list==='WA'">
           	 文案
          </span>
          <span v-if="ap_list==='MA'">
           	 Mara
          </span>
          <span v-if="ap_list==='SUPERAD'">
           	 超级管理员
          </span>
				</a>
				<div class="top-nav ">
					<ul class="nav pull-right top-menu">
						<li style="padding-right:15px;"><a href="bank-info.html" style="color:white;" target="_blank">转账信息</a></li>
						<li style="padding-right:15px;"><a href="knowledge-detail.html?id=1000164" style="color:#ff6c60;">帮助中心</a></li>
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
                  {{admin}}
                </span>
								<b class="caret">
                </b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li class="log-arrow-up">
								</li>
								<li>
									<a href="password.html">
										<i class="fa fa-key">
                    </i> 修改密码
									</a>
								</li>
								<li><a href="javascript:tb.out();">
										<i class="fa fa-user">
                    </i> Log Out
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			<aside>
				<div id="sidebar" class="nav-collapse">
					<ul class="sidebar-menu" id="nav-accordion">
						<li >
              <a href="main.html">
                <i class="fa fa-dashboard">
                </i>
                <span>
                  Dashboard
                </span>
              </a>
            </li>
            <dli v-if="ap_list==='SUPERAD'">            
            <li>
              <a href="adviser.html">
                <i class="fa fa-book">
                </i>
                <span>
                  顾问管理
                </span>
              </a>
            </li>
            <li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 文案管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="official.html">
										文案管理
									</a>
								</li>
								<li>
									<a href="official-tag.html">
										订单标签管理
									</a>
								</li>								
							</ul>
						</li>
            <li>
              <a href="mara.html">
                <i class="fa fa-book">
                </i>
                <span>
                  MARA管理
                </span>
              </a>
            </li>
            <li>
              <a href="accounting.html">
                <i class="fa fa-book">
                </i>
                <span>
                  会计管理
                </span>
              </a>
            </li>
            </dli>
          	<dli v-if="ap_list==='SUPERAD' || (ap_list==='GW' && gw_regionid !== 'null')">
            <li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 学校管理
                </span>
							</a>
							<ul class="sub">
								<li v-if="ap_list==='SUPERAD'">
									<a href="school.html">
										学校管理
									</a>
								</li>
								<li>
									<a href="school-setting.html">
										佣金设置
									</a>
								</li>								
							</ul>
						</li>
						</dli>
						<dli v-if="ap_list==='SUPERAD'">
            <li>
              <a href="receive-type.html">
                <i class="fa fa-book">
                </i>
                <span>
                  收款方式管理
                </span>
              </a>
            </li>
            <li>
              <a href="subagency.html">
                <i class="fa fa-book">
                </i>
                <span>
                  Subagency管理
                </span>
              </a>
            </li>
            <li class="sub-menu">
            	<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 服务管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="service.html">
										服务项目管理
									</a>
								</li>
								<li>
									<a href="service-package.html">
										服务包管理
									</a>
								</li>
								<li>
									<a href="visa-ca.html">
										签证职业评估管理
									</a>
								</li>							
							</ul>              
            </li>
          	</dli>
          	<li v-if="ap_list!=='KJ' && ap_list!=='WA' && ap_list!=='MA'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 客户管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="users.html">
										客户管理
									</a>
								</li>
								<li v-if="ap_list==='SUPERAD'">
									<a href="user-tags.html">
										标签管理
									</a>
								</li>								
							</ul>
						</li>
						<li v-if="ap_list!=='KJ'" class="sub-menu">
							<a href="serviceorder-list.html">
                <i class="fa fa-book">
                </i>
                <span>
                  服务订单管理
                </span>
              </a>
						</li>
            <li v-if="ap_list==='SUPERAD'" class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 渠道管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="source.html">
										渠道列表
									</a>
								</li>
								<li>
									<a href="source-type.html">
										来源分类
									</a>
								</li>								
							</ul>
						</li>
						<li v-if="ap_list!=='WA' && ap_list!=='MA'" class="sub-menu">
							<a href="javascript:;" class="active">
								<i class="fa fa-book">
                </i>
								<span>
                 	 佣金表
                </span>
							</a>
							<ul class="sub">								
								<li v-if="ap_list==='GW' || ap_list==='SUPERAD'" id="apply_state_" class="active">
									<a href="mycommission-ovst.html">
										我的佣金报表
									</a>									
								</li>
								<li v-if="ap_list==='GW' || ap_list==='SUPERAD'" style="display:;" id="apply_state_PENDING">
									<a href="mycommission-ovst.html?applyState=PENDING">
										未申请月奖
									</a>									
								</li>
								<li v-if="ap_list==='GW' || ap_list==='SUPERAD'" style="display:;" id="apply_state_COMPLETE">
									<a href="mycommission-ovst.html?applyState=COMPLETE">
										已申请月奖
									</a>									
								</li>
								<li v-if="ap_list==='KJ'" id="commission_state_DJY">
									<a href="mycommission-accounting.html?commission_state=DJY">
										待结佣订单
									</a>									
								</li>
								<li v-if="ap_list==='KJ'" id="commission_state_YJY">
									<a href="mycommission-accounting.html?commission_state=YJY">
										已结佣订单
									</a>									
								</li>								
								<li v-if="ap_list==='SUPERAD' || ap_list==='KJ'">
									<a href="mycommission-check-accounting.html">
										自动对账
									</a>									
								</li>
								<li v-if="ap_list==='SUPERAD'">
									<a href="create-visa-commission.html">
										重建签证佣金表订单
									</a>
								</li>
								<li v-if="ap_list==='SUPERAD' || ap_list==='KJ'">
									<a href="table-export.html">
										导出数据
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 知识库
                </span>
							</a>
							<ul class="sub">
								<li v-if="ap_list==='SUPERAD'">
									<a href="knowledge-menu.html">
										菜单管理
									</a>
								</li>
								<li>
									<a href="knowledge.html">
										知识库菜单
									</a>
								</li>
								<li>
									<a href="http://question.zhinanzhen.org/api/users/znz/{{admin}}" target="_blank">
										指南针问答
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</aside>
			<section id="main-content" class="content">
				<section class="wrapper site-min-height">
					<div class="row">
						<div class="col-lg-12">
							<section class="panel">
								<header class="panel-heading">
									我的佣金报表
								</header>
								<div class="panel-body">
									<div class="adv-table editable-table">
										<div id="alert_success" class="alert alert-success fade in" style="display:none;position:absolute;z-index:9999;">
									      <button data-dismiss="alert" class="close close-sm" type="button">
									      </button>
									      <strong>Success!</strong> You  just achieved success.
									  </div>
									  <div id="alert_error" class="alert alert-block alert-danger fade in" style="display:none;position:absolute;z-index:9999;">
                      <button data-dismiss="alert" class="close close-sm" type="button">                      
                      </button>
                      <strong id="error_info"></strong>
                    </div>
									  <form class="form-inline" style="margin-top:10px;">									  	
									  	<input v-model.trim="userId" type="hidden" name="userId" id="userId" value="0" />
											<div class="form-group">
													<input type="text" v-model.trim="id" id="id" class="form-control" style="width:90px;" placeholder="订单ID">
													<input type="text" name="user_name" id="user_name" class="form-control" style="width:150px;" placeholder="客户姓名">				
											</div>
											<div class="form-group">
													<input v-model.trim="startHandlingDate" type="text" autocomplete="off" class="form-control default-date-picker1" style="width:120px;" placeholder="办理时间(开始)">
													<input v-model.trim="endHandlingDate" type="text"  autocomplete="off" class="form-control default-date-picker1" style="width:120px;" placeholder="办理时间(结束)">
													<input v-model.trim="startDate" type="text" autocomplete="off" class="form-control default-date-picker1" style="width:120px;" placeholder="创建时间(开始)">
													<input v-model.trim="endDate" type="text" autocomplete="off" class="form-control default-date-picker1" style="width:120px;" placeholder="创建时间(结束)">
													<input v-model.trim="startKjApprovalDate" type="text" autocomplete="off" class="form-control default-date-picker1" style="width:150px;" placeholder="财务审核时间(开始)">
													<input v-model.trim="endKjApprovalDate" type="text" autocomplete="off" class="form-control default-date-picker1" style="width:150px;" placeholder="财务审核时间(结束)">
											</div>
											<div class="form-group">
													<label>顾问</label>		
													<select v-if="ap_list==='SUPERAD' || (ap_list==='GW' && gw_regionid !== 'null')" v-model.trim="adviserId" id="adviserId" class="form-control" style="width:130px;"></select>
													<label>服务项目</label>											
													<select id="type" class="form-control" style="width:130px;" onchange="gotoUrl(this.value);">
													<option value="OVST" selected="true">留学</option>
													<option value="VISA">签证</option>													
													</select>
													<dle v-if="ap_list!=='GW'">
													<label>选择地区</label>
													<select v-model.trim="regionId" id="regionId" class="form-control" style="width:130px;">
													</select>
													</dle>
											</div>
											<div class="form-group">
												<button @click="getSearch" type="button" class="btn btn-info">查询</button>
												<button @click="getExport" type="button" class="btn btn-primary">导出</button>
											</div>
										</form>
										<div class="responsive-table margin-top">
											<input type="hidden" name="id" id="id" value="0" />
											<div id="copy_success" class="alert alert-success fade in" style="display:none;position:absolute;z-index:9999;">已复制！请告知客户转账时务必在备注填写该订单号码。</div>
											<table class="display table table-bordered table-striped" id="list_ovst" style="width:2500px;">
												<thead>
													<tr>
														<th>订单ID</th>
														<th>创建日期</th>
														<th>提交审核时间</th>
														<th>客户支付日期</th>
														<th>客户姓名</th>
														<th>StudentID</th>
														<th>服务项目</th>
														<th>是否提前扣佣</th>
														<th>学校</th>
														<th>课程</th>
														<th>Installment Due Date</th>
														<th>收款方式</th>
														<th>学费总金额Tuition Fee</th>
														<th>每学期学费金额Per Term Tuition Fee</th>
														<th>总计应收</th>														
														<th><span style="color:#FF6C60;">总计已收</span></th>
														<th v-if="ap_list==='GW'">是否对账完成</th>
														<th>本次收款</th>
														<th>预收业绩(<span style="color:#FF6C60;">Commission含GST</span>)</th>
														<th>确认预收业绩</th>																											
														<th>月奖</th>														
														<th>月奖支付时间</th>
														<th>顾问</th>
														<th>状态</th>
														<th>操作</th>
														<th>备注</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="item in subject" class="gradeX">
														<td v-html="item.strOid"></td>
														<td v-html="item.gmtCreate"></td>
														<td v-html="item.kjApprovalDate"></td>
														<td v-html="item.receiveDate"></td>
														<td v-html="item.userName"></td>
														<td v-html="item.studentCode"></td>
														<td v-html="item.serviceName"></td>
														<td v-html="item.strSettle"></td>
														<td v-html="item.schoolName"></td>
														<td v-html="item.schoolSubject"></td>
														<td v-html="item.installmentDueDate"></td>
														<td v-html="item.receiveType.name"></td>
														<td v-html="item.tuitionFee"></td>
														<td v-html="item.perAmount"></td>
														<td v-html="item.totalPerAmount"></td>
														<td v-html="item.totalAmount"></td>
														<td v-if="ap_list==='GW'" v-html="item.isChecked"></td>
														<td v-html="item.amount"></td>
														<td v-html="item.expectAmount"></td>
														<td v-html="item.sureExpectAmount"></td>														
														<td v-html="item.bonus"></td>														
														<td v-html="item.bonusDate"></td>
														<td v-html="item.adviser.name"></td>
														<td v-html="item.strState"></td>
														<td>
														<a href="javascript:open_detail({{item.serviceOrderId}},{{item.oid}});">查看</a>
														<dle v-if="ap_list==='GW' && item.adviserId === current_adviserId">
																<d1 v-if="item.currentState==='PENDING' || item.currentState==='WAIT'">
																		<a href="javascript:reqCommissionOvst({{item.serviceOrderId}},{{item.oid}})"><span style="color:blue;">申请月奖</span></a>
																</d1>
														</dle>
														<dle v-if="ap_list!=='KJ' && ap_list!=='GW' && ap_list!=='WA' && ap_list!=='MA'">
																<a v-if="item.id" class="delete" href="#" @click="delete_confirm($index,item.id)">删除</a>
														</dle>
														</td>
														<td v-html="item.strRemarks"></td>
													</tr>
													<tr class="gradeX">
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td v-if="ap_list==='GW'"></td>
														<td style="background:#F4A460">合计：</td>														
														<td style="background:#F4A460">{{total_expectamount}}</td>
														<td style="background:#F4A460">{{total_sureexpectamount}}</td>
														<td style="background:#F4A460">{{total_bonus}}</td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
														<td></td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="row-fluid" style="display:;">
											<div class="span6">
												<div class="dataTables_info" id="hidden-table-info_info">共{{count}}条</div>
											</div>
											<div class="span6">
												<div class="dataTables_paginate paging_bootstrap pagination">
													<ul>
														<li :class="[pageNum==0?'disabled':'']">
															<a @click="firstPage" href="javascript:;">首页</a>
														</li>
														<li :class="[pageNum==0?'disabled':'']">
															<a @click="prevPage" href="javascript:;">← Pre</a>
														</li>
														<li class="nowPage" style="padding: 0px 0px;margin: 0 1px;">
															第{{pageNum+1}}页/共{{allPage}}页&nbsp;
															跳到 <input type="text" v-model.trim="pnumber" @keyup.enter="submit" style="width:50px;color:#c7c7c7;border: 1px solid #ddd;border-radius: 3px;-webkit-border-radius: 3px;padding: 5px 10px;display: inline-block;" id="b100" placeholder="" value=""> 页
														</li>
														<li :class="[pageNum==allPage-1?'disabled':'']">
															<a @click="nextPage" href="javascript:;">Next → </a>
														</li>
														<li :class="[pageNum==allPage-1?'disabled':'']">
															<a @click="lastPage" href="javascript:;">末页</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
			</section>
			<footer class="site-footer">
				<div class="text-center">
					2018 &copy; 佣金系统 by <span style="color:#2a8ba7;">GIG</span>.
					<a href="#" class="go-top">
						<i class="fa fa-angle-up">
            </i>
					</a>
				</div>
			</footer>
		</section>
		<div class="modal fade" id="showconfirmbox_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999;">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">操作提示</h4>
					</div>
					<div class="modal-body">
						您确认执行此操作吗？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button onclick="update_state();" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="loading_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop='static' style="z-index:99999;">
			<div class="modal-dialog" role="document" style="width:350px;">
				<div class="modal-content">
					<div class="modal-header">
					</div>
					<div class="modal-body">
							<div style="text-align:center;color:#0066CC;"><img src="img/input-spinner.gif" /> 正在执行，请稍后...</div>
					</div>
					
				</div>
			</div>
		</div>
		<div class="modal fade" id="delete_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">删除</h4>
					</div>
					<div id="alert_success" class="alert alert-success fade in" style="display:none;position:absolute;z-index:9999;">
			      <button data-dismiss="alert" class="close close-sm" type="button">
			      <i class="fa fa-times"></i>
			      </button>
			      <strong id="success_info">Success! You  just achieved success.</strong>
			  	</div>
			  	<div id="alert_error" class="alert alert-block alert-danger fade in" style="display:none;position:absolute;z-index:9999;">
		        <button data-dismiss="alert" class="close close-sm" type="button">
		        <i class="fa fa-times"></i>
		        </button>
		        <strong id="error_info"></strong>
		      </div>
					<div class="modal-body">
						[订单ID：<span id="order_id" style="font-weight:bold;"></span> 将被删除]&nbsp;&nbsp;执行后不可撤销操作，请慎重！！！&nbsp;&nbsp;<span style="color:red;">确认删除吗？</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
						<button onclick="deleteId()" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div id="load-mycommission-ovst-page"></div>
		<div id="load-mycommission-ovst-view-page"></div>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="assets/bootstrap-datepicker/js/bootstrap-datepicker.js"></script><!-- BOOTSTRAP DATEPICKER JS  -->
    <script src="assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script><!-- BOOTSTRAP DATETIMEPICKER JS  -->
    <script src="js/jquery.autocompleter.js"></script>
    <script src="js/jquery.validate.min.js"></script><!-- VALIDATE JS  -->
    <script src="js/clipboard.min.js"></script>
		<script src="js/common-scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/common.js?verson=1"></script>
		<script>
			$("#load-mycommission-ovst-page").load("mycommission-ovst-common.html?random="+Math.random());
			$("#load-mycommission-ovst-view-page").load("mycommission-ovst-common-view.html?random="+Math.random());
			tb.isLogin("mycommission-ovst.html");
			$("td,th").addClass("text-center");
			var v = new Vue({
				el: '#mycommission-ovst',
				data: {
					admin: sessionStorage.getItem("admin"),
					ap_list: sessionStorage.getItem("ap_list"),
					gw_regionid: sessionStorage.getItem("gw_regionid"),
					adviser_id: sessionStorage.getItem("adviser_id"),
					official_id: sessionStorage.getItem("official_id"),
					kj_id: sessionStorage.getItem("kj_id"),
					current_adviserId: parseInt(sessionStorage.getItem("adviser_id")),
					applyState : getRequest('applyState'),
					arr_ids : getRequestId(),
					orderId: 0,
					total_expectamount: 0.00,
					total_sureexpectamount: 0.00,
					total_bonus: 0.00,
					order_detail: [],
					subject: [],
					count: 0,					
					name: '',					
					state: '',					
					pageNum: 0,
					pageSize: 20,
					allPage: 0					
				},
				created: function() {
					$('.default-date-picker1').datepicker({   				
				        format: 'yyyy-mm-dd',
				        endDate: new Date()
				  });
				  if (typeof(this.applyState) == "undefined") $("#apply_state_").addClass("active");
					this.getDatalist();
					document.onkeydown = function(e) {
						var key = window.event.keyCode;
						if (key == 13) v.gotoPage();
					};
				},
				methods: {					
					getDatalist1: function() {
						var that = this;
						$.get(url + "commissionOrder/count", {
							keyword: that.name,							
						}, function(result) {
							that.count = result.data;
							that.allPage = Math.ceil(result.data / that.pageSize);
						});
						$.get(url + "commissionOrder/list", {
							pageNum: 0,
							pageSize: that.pageSize,
						}, function(result) {							
							that.pageNum = 0;
							result.data = return_result(result);
							that.subject = result.data;
							that.$nextTick(function(){ $('[data-original-title=""]').popover(); });
							//console.log(that.subject);
						});
					},
					getSearch: function() {
						var that = this;
						that.pageNum = 0;
						that.pnumber = null;
						that.getDatalist();
					},
					getDatalist: function() {
						var that = this;
						var json = {};
						show_loading();
						if (that.id != '') json['id'] = that.id;
						if (that.userId != '0') json['userId'] = that.userId;
						if (this.gw_regionid != 'null')
						{
								if (this.adviserId == undefined)
								{
										json['adviserId'] = this.adviser_id;
								}else
								{
										if (that.adviserId != '0') json['adviserId'] = that.adviserId;
								}
						}else
						{
								if (that.adviserId != '0') json['adviserId'] = that.adviserId;
						}
						if (that.type != '') json['type'] = that.type;
						if (that.startHandlingDate != '') json['startHandlingDate'] = that.startHandlingDate;
						if (that.endHandlingDate != '') json['endHandlingDate'] = that.endHandlingDate;
						if (that.startKjApprovalDate != '') json['startKjApprovalDate'] = that.startKjApprovalDate;
						if (that.endKjApprovalDate != '') json['endKjApprovalDate'] = that.endKjApprovalDate;
						if (that.startDate != '') json['startDate'] = that.startDate;
						if (that.endDate != '') json['endDate'] = that.endDate;
						if (that.ap_list != 'GW' && that.regionId != '') json['regionId'] = that.regionId;
						if (that.applyState != '') json['applyState'] = that.applyState;
						
						$.get(url + "commissionOrder/count", json, function(result) {
							that.count = result.data;
							that.allPage = Math.ceil(result.data / that.pageSize);
						});
						json['pageNum'] = 0;
						json['pageSize'] = that.pageSize;
						$.get(url + "commissionOrder/list", json, function(result) {
							that.pageNum = 0;
							result.data = return_result(result);
							that.subject = result.data;
							that.$nextTick(function(){ $('[data-original-title=""]').popover(); });
							$('#loading_id').modal('hide');
						});
					},
					getExport: function() {
						var that = this;						
						var down_url = url + "commissionOrder/down?";
						show_loading();
						if (typeof(that.id) != "undefined")
						{
								down_url += "id="+that.id;
						}else
						{
								down_url += "id=";
						}
						if (typeof(that.userId) != "undefined")
						{
								down_url += "&userId="+that.userId;
						}else
						{
								down_url += "&userId=";
						}
						if (typeof(that.adviserId) != "undefined")
						{
								down_url += "&adviserId="+that.adviserId;
						}else
						{
								down_url += "&adviserId="+that.adviser_id;
						}						
						if (typeof(that.startHandlingDate) != "undefined")
						{
								down_url += "&startHandlingDate="+that.startHandlingDate;
						}else
						{
								down_url += "&startHandlingDate=";
						}
						if (typeof(that.endHandlingDate) != "undefined")
						{
								down_url += "&endHandlingDate="+that.endHandlingDate;
						}else
						{
								down_url += "&endHandlingDate=";
						}
						if (typeof(that.startDate) != "undefined")
						{
								down_url += "&startDate="+that.startDate;
						}else
						{
								down_url += "&startDate=";
						}
						if (typeof(that.endDate) != "undefined")
						{
								down_url += "&endDate="+that.endDate;
						}else
						{
								down_url += "&endDate=";
						}
						if (typeof(that.startKjApprovalDate) != "undefined")
						{
								down_url += "&startKjApprovalDate="+that.startKjApprovalDate;
						}else
						{
								down_url += "&startKjApprovalDate=";
						}
						if (typeof(that.endKjApprovalDate) != "undefined")
						{
								down_url += "&endKjApprovalDate="+that.endKjApprovalDate;
						}else
						{
								down_url += "&endKjApprovalDate=";
						}
						if (that.ap_list != 'GW' && typeof(that.regionId) != "undefined")
						{
								down_url += "&regionId="+that.regionId;
						}else
						{
								down_url += "&regionId=";
						}
						if (typeof(that.applyState) != "undefined")
						{
								down_url += "&applyState="+that.applyState;
						}else
						{
								down_url += "&applyState=";
						}
						//console.log(down_url);
						var a = document.createElement('a');
						a.download = 'commission_all_data.xls';
						a.href = down_url;
						$("body").append(a);
						a.click();
						$(a).remove();
						setTimeout(function(){$('#loading_id').modal('hide');}, 3000);
					},
					getTime: function(d) {
						var date1 = new Date(d);
						var y = date1.getFullYear();
						var m = this.addZero(date1.getMonth() + 1);
						var d = this.addZero(date1.getDate());
						var h = this.addZero(date1.getHours());
						var m2 = this.addZero(date1.getMinutes());
						var s = this.addZero(date1.getSeconds());
						//var date2 = y + "-" + m + "-" + d;
						if (y == '1970') return '';
						var date2 = d+"/"+m+"/"+y;
						return date2;
					},
					getTime1: function(d) {
						var date1 = new Date(d);
						var y = date1.getFullYear();
						var m = this.addZero(date1.getMonth() + 1);
						var d = this.addZero(date1.getDate());
						var h = this.addZero(date1.getHours());
						var m2 = this.addZero(date1.getMinutes());
						var s = this.addZero(date1.getSeconds());
						//var date2 = y + "-" + m + "-" + d;
						var date2 = d+"/"+m+"/"+y+" "+h+":"+m2+":"+s;
						return date2;
					},
					addZero: function(obj) {
						if(obj < 10) {
							obj = '0' + obj;
						};
						return obj;
					},
					firstPage: function() {
						var that = this;
						var json = {};
						if (that.userId != '0') json['userId'] = that.userId;
						if (that.adviserId != '0') json['adviserId'] = that.adviserId;						
						if (that.type != '') json['type'] = that.type;
						if (that.startHandlingDate != '') json['startHandlingDate'] = that.startHandlingDate;
						if (that.endHandlingDate != '') json['endHandlingDate'] = that.endHandlingDate;
						if (that.startKjApprovalDate != '') json['startKjApprovalDate'] = that.startKjApprovalDate;
						if (that.endKjApprovalDate != '') json['endKjApprovalDate'] = that.endKjApprovalDate;
						if (that.startDate != '') json['startDate'] = that.startDate;
						if (that.endDate != '') json['endDate'] = that.endDate;
						if (that.applyState != '') json['applyState'] = that.applyState;
						
						json['pageNum'] = 0;
						json['pageSize'] = that.pageSize;
						if(that.pageNum > 0) {
							show_loading();
							$.get(url + "commissionOrder/list", json, function(result) {
								that.pageNum = 0;
								result.data = return_result(result);
								that.subject = result.data;
								that.$nextTick(function(){ $('[data-original-title=""]').popover(); });
								$('#loading_id').modal('hide');
							});
						}
					},
					prevPage: function() {
						var that = this;
						var json = {};
						if (that.userId != '0') json['userId'] = that.userId;
						if (that.adviserId != '0') json['adviserId'] = that.adviserId;						
						if (that.type != '') json['type'] = that.type;
						if (that.startHandlingDate != '') json['startHandlingDate'] = that.startHandlingDate;
						if (that.endHandlingDate != '') json['endHandlingDate'] = that.endHandlingDate;
						if (that.startKjApprovalDate != '') json['startKjApprovalDate'] = that.startKjApprovalDate;
						if (that.endKjApprovalDate != '') json['endKjApprovalDate'] = that.endKjApprovalDate;
						if (that.startDate != '') json['startDate'] = that.startDate;
						if (that.endDate != '') json['endDate'] = that.endDate;
						if (that.applyState != '') json['applyState'] = that.applyState;
									
						if(that.pageNum > 0) {
							show_loading();
							that.pageNum--;
							json['pageNum'] = that.pageNum;
							json['pageSize'] = that.pageSize;
							$.get(url + "commissionOrder/list", json, function(result) {
								result.data = return_result(result);
								that.subject = result.data;
								that.$nextTick(function(){ $('[data-original-title=""]').popover(); });
								$('#loading_id').modal('hide');
							});
						}
					},
					nextPage: function() {
						var that = this;
						var json = {};
						if (that.userId != '0') json['userId'] = that.userId;
						if (that.adviserId != '0') json['adviserId'] = that.adviserId;						
						if (that.type != '') json['type'] = that.type;
						if (that.startHandlingDate != '') json['startHandlingDate'] = that.startHandlingDate;
						if (that.endHandlingDate != '') json['endHandlingDate'] = that.endHandlingDate;
						if (that.startKjApprovalDate != '') json['startKjApprovalDate'] = that.startKjApprovalDate;
						if (that.endKjApprovalDate != '') json['endKjApprovalDate'] = that.endKjApprovalDate;
						if (that.startDate != '') json['startDate'] = that.startDate;
						if (that.endDate != '') json['endDate'] = that.endDate;
						if (that.applyState != '') json['applyState'] = that.applyState;
						
						if(that.pageNum < that.allPage - 1) {
							show_loading();
							that.pageNum++;
							json['pageNum'] = that.pageNum;
							json['pageSize'] = that.pageSize;
							$.get(url + "commissionOrder/list", json, function(result) {
								result.data = return_result(result);
								that.subject = result.data;
								that.$nextTick(function(){ $('[data-original-title=""]').popover(); });
								$('#loading_id').modal('hide');
							});
						}
					},
					lastPage: function() {
						var that = this;
						var json = {};
						if (that.userId != '0') json['userId'] = that.userId;
						if (that.adviserId != '0') json['adviserId'] = that.adviserId;						
						if (that.type != '') json['type'] = that.type;
						if (that.startHandlingDate != '') json['startHandlingDate'] = that.startHandlingDate;
						if (that.endHandlingDate != '') json['endHandlingDate'] = that.endHandlingDate;
						if (that.startKjApprovalDate != '') json['startKjApprovalDate'] = that.startKjApprovalDate;
						if (that.endKjApprovalDate != '') json['endKjApprovalDate'] = that.endKjApprovalDate;
						if (that.startDate != '') json['startDate'] = that.startDate;
						if (that.endDate != '') json['endDate'] = that.endDate;
						if (that.applyState != '') json['applyState'] = that.applyState;
						
						if(that.pageNum < that.allPage - 1) {
							show_loading();
							json['pageNum'] = that.allPage - 1;
							json['pageSize'] = that.pageSize;
							$.get(url + "commissionOrder/list", json, function(result) {
								that.pageNum = that.allPage - 1;
								result.data = return_result(result);
								that.subject = result.data;
								that.$nextTick(function(){ $('[data-original-title=""]').popover(); });
								$('#loading_id').modal('hide');
							});
						}
					},
					gotoPage: function() {
						var that = this;
						var json = {};
						if (that.userId != '0') json['userId'] = that.userId;
						if (that.adviserId != '0') json['adviserId'] = that.adviserId;						
						if (that.type != '') json['type'] = that.type;
						if (that.startHandlingDate != '') json['startHandlingDate'] = that.startHandlingDate;
						if (that.endHandlingDate != '') json['endHandlingDate'] = that.endHandlingDate;
						if (that.startKjApprovalDate != '') json['startKjApprovalDate'] = that.startKjApprovalDate;
						if (that.endKjApprovalDate != '') json['endKjApprovalDate'] = that.endKjApprovalDate;
						if (that.startDate != '') json['startDate'] = that.startDate;
						if (that.endDate != '') json['endDate'] = that.endDate;
						if (that.applyState != '') json['applyState'] = that.applyState;
						that.pageNum = parseInt(that.pnumber);
						if (that.pageNum > that.allPage)
						{
								that.pnumber = that.allPage;
								that.pageNum = that.allPage;
						}
												
						if(that.pageNum <= that.allPage) {
							show_loading();
							that.pageNum = that.pageNum - 1;
							json['pageNum'] = that.pageNum;
							json['pageSize'] = that.pageSize;				
							$.get(url + "commissionOrder/list", json, function(result) {
								console.log(result)
								result.data = return_result(result);
								that.subject = result.data;
								that.$nextTick(function(){ $('[data-original-title=""]').popover(); });
								$('#loading_id').modal('hide');
							});
						}
					},
          delete_confirm: function (index,id) {
          	$('#delete_id #order_id').html(id);
          	$('#delete_id').modal('show');
          	this.orderId = id;
          	this.index = index;
          }          
				}		
			});
			
			function return_result(result)
			{
				v.total_expectamount = 0;
				v.total_sureexpectamount = 0;
				v.total_bonus = 0;
				for(var i = 0; i < result.data.length; i++) {
						var str_state = '';
						var customer_text = 'CS'+result.data[i].id;
						result.data[i].oid = result.data[i].id;
						result.data[i].strOid = '<a href="javascript:open_detail('+result.data[i].serviceOrderId+','+result.data[i].id+');" title="查看详细">CS'+result.data[i].id+'</a>-'+result.data[i].installmentNum+'<br/><a onclick="copyText()" class="copybtn" data-clipboard-action="copy" data-clipboard-text="'+customer_text+'">复制</a>';
						result.data[i].gmtCreate = v.getTime1(result.data[i].gmtCreate);
						result.data[i].kjApprovalDate = result.data[i].kjApprovalDate ? v.getTime(result.data[i].kjApprovalDate):'';
						//result.data[i].finishDate = result.data[i].finishDate ? v.getTime(result.data[i].finishDate):'';
						result.data[i].receiveDate = result.data[i].receiveDate ? v.getTime(result.data[i].receiveDate):'';
						//是否已对账
						result.data[i].schoolPaid = false;
						result.data[i].strSchoolPaid = '否';
						if (result.data[i].schoolPaymentAmount && result.data[i].schoolPaymentDate)
						{
								result.data[i].schoolPaid = true;
								result.data[i].strSchoolPaid = '是';
						}
						result.data[i].isChecked = result.data[i].checked;
						result.data[i].bonusDate = result.data[i].bonusDate ? v.getTime(result.data[i].bonusDate):'';
						result.data[i].userName = result.data[i].user.name;
						result.data[i].serviceName = '留学';
						if (result.data[i].settle)
						{
								result.data[i].strSettle = '是';
								result.data[i].schoolPaid = true;
								result.data[i].strSchoolPaid = '是';
						}else
						{
								result.data[i].strSettle = '否';
						}
						result.data[i].schoolName = result.data[i].school.name;
						result.data[i].schoolSubject = result.data[i].school.subject;
						result.data[i].installmentDueDate = result.data[i].installmentDueDate ? v.getTime(result.data[i].installmentDueDate):'';
						if (result.data[i].state == 'PENDING')
						{
								result.data[i].expectAmount = 0.00;
								result.data[i].sureExpectAmount = 0.00;
								result.data[i].bonus = 0.00;
						}
						v.total_expectamount += result.data[i].expectAmount;
						v.total_sureexpectamount += result.data[i].sureExpectAmount;
						v.total_bonus += result.data[i].bonus;
						result.data[i].strState = return_state(result.data[i].state);
						result.data[i].currentState = result.data[i].state;
						if (result.data[i].remarks) result.data[i].remarks = url_replace1(result.data[i].remarks);
						result.data[i].strRemarks = '<button data-original-title="" data-html="true" data-content="'+result.data[i].remarks+'" data-placement="bottom" data-trigger="onclick" class="btn btn-info btn-xs popovers">查看备注</button>';
				};
				v.total_expectamount = v.total_expectamount.toFixed(2);
				v.total_sureexpectamount = v.total_sureexpectamount.toFixed(2);
				v.total_bonus = v.total_bonus.toFixed(2);
				return result.data;
			}
			
			function copyText()
			{
					var clipboard = new ClipboardJS('.copybtn');
					clipboard.on('success',function(e)
					{
							e.clearSelection();
							$('#copy_success').addClass('alert-success').show().delay(1500).fadeOut();
					});
					clipboard.on('error',function(e)
					{							
					});
			}
      
      function return_state(va)
			{
					var str_html = '';
					switch(va)
					{
						case 'PENDING':
									str_html = '佣金待确认';
						break;						
						case 'REVIEW':
									str_html = '佣金审核中';
						break;
						case 'WAIT':
									str_html = '<label style="">佣金被驳回</label>';
						break;
						case 'FINISH':									
									str_html = '<label style="color:blue;">佣金已审核</label>';							
						break;						
						case 'COMPLETE':
									str_html = '<label style="color:red;">佣金结算完成</label>';
						break;						
						case 'CLOSE':
									str_html = '<label style="color:red;">已关闭</label>';
						break;											
					}
					return str_html;
      }                    
			
			v.$watch('subject', function(obj) {
					$('.default-date-picker').datepicker({   				
				        format: 'dd/mm/yyyy'
				  });
				  
				  var adviserId = 0;
				  if (typeof v.adviserId != "undefined") adviserId = v.adviserId; 		 	
				  //查询客户
				  var user = $("#user_name");
				  user.autocompleter({
			    	highlightMatches: true,
			    	limit: 10,
			    	cache: false,
			    	customValue: 'name',
			    	customLabel: 'name',
			    	source: url + 'user/list?authNickname=&phone=&pageNum=0',
			    	combine: function(params) {
			    		return {
				        name: params.query,
				        pageSize: params.limit
				      };
			    	},
			    	callback: function(value, index, object) {
			    		$('#userId').val(object.id);
			    		v.userId = object.id;  		
			    	},
			    	minLength: 1						    	
			    });
			    //绑定顾问列表
	        var obj_adviserId2 = $("#adviserId");
	        $("#adviserId").empty();
	        var strPar = '';
				  if (v.gw_regionid != 'null')
				  {
				  		if (!adviserId) adviserId = v.adviser_id;				  			  		
				  		strPar = '&regionId='+v.gw_regionid;
				  }
	        obj_adviserId2.append("<option value='0'>请选择顾问</option>");
			    $.ajax({
	          url: url + 'adviser/list?pageNum=0&pageSize=100000'+strPar,
	          type: 'GET',
	          dataType: 'json'
	        }).done(function(response) {
	        	//author:bischina
	        	var str_selected = '';
	        	response = response.data;
	        	for (var item in response)
	        	{
	        			obj_adviserId2.append("<option value='"+response[item].id+"'>"+response[item].name+"</option>");
	        	}
	        	obj_adviserId2.val(adviserId);   
	        });
			    //绑定区域列表
			    var obj_regionId = $("#regionId");
			    $("#regionId").empty();
			    obj_regionId.append("<option value='0'>请选择</option>");
			    $.ajax({
	          url: url + 'region/list_all',
	          type: 'GET',
	          dataType: 'json'
	        }).done(function(response) {
	        	var region_data = response.data;
	        	for (var item in region_data)
	        	{
	        			obj_regionId.append("<option value='"+region_data[item].id+"'>"+region_data[item].name+"</option>");
	        			var region_sub = region_data[item].regionList;
	        			for (var itemsub in region_sub)
	        			{
	        					obj_regionId.append("<option value='"+region_sub[itemsub].id+"'>---"+region_sub[itemsub].name+"</option>");
	        			}
	        	}
	        });		    
			});
			
			function gotoUrl(va)
			{
					if (va == 'VISA')
					{
							window.location.href = "mycommission.html";
					}else
					{
							window.location.href = "mycommission-ovst.html";
					}
			}
			
			function getRequest(par)
			{
					var str_value = '';
			    var url = decodeURI(location.search);
			    var theRequest = new Object();
			    if (url.indexOf('?') != -1) {
			        url = url.substr(1);
			    }
			    if (url) {
			        var strs = url.split('&');
			        for (var i = 0; i < strs.length; i++) {
			            var srtArry = strs[i].split('=');
			            var y = srtArry.shift();
			            theRequest[y] = unescape(srtArry.join('='));
			        }
			    }
			    str_value = theRequest[par];
			    $("#apply_state_"+str_value).addClass("active");
			    if (str_value != '') $("#apply_state_").removeClass("active");
			    return str_value;
			}
			
			function open_detail(serviceId,orderId)
      {
      		show_commission_detail(serviceId,orderId);
      }
      
      function reqCommissionOvst(serviceId,orderId)
      {
      		edit_commission_detail(serviceId,orderId);
      }
      
      function flowstep(va,par)
      {
      		var str_url = url + "commissionOrder/approval";
      		if (par == '0' || va == 'WAIT') str_url = url + "commissionOrder/refuse";
      		
          var json = {};
          var closedReason = '';
          show_loading();
                   
          json['id'] = v.orderId;
          json['state'] = va;
          $.post(str_url, json,
			   	function(data){
			   			$('#loading_id').modal('hide');
			   			if (data.code == 0)
			   			{
			   					$('#ovst_id #alert_success').css('marginLeft','30%');
			   					$('#ovst_id #alert_success').addClass('alert-success').show().delay(1500).fadeOut();			   					
			   					setTimeout(function(){v.getDatalist();$('.modal-backdrop').remove();}, 1000);		   					
			   			}else
			   			{			   					
			   					$('#ovst_id #alert_error').css('marginLeft','30%');
			   					$('#ovst_id #alert_error').addClass('alert-danger').show().delay(3000).fadeOut();
	          			$("#ovst_id #error_info").html(data.message);
		        			return false;
			   			}
			   	});
      }
      
      function show_knowledge_detail(id,parentId)
      {
      		sessionStorage.setItem("id", id);
      		sessionStorage.setItem("menu_parentid", parentId);
					window.location.href = "knowledge.html"; 
      }
      
      function url_replace(str)
			{
					var reg = /((http|ftp|https):\/\/)?[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/g;
					str=str.replace(reg,function(a){
					    if(!a.indexOf('http'))
					    {
					    	return '<a href="'+a+'" target="_blank">'+a+'</a>';
					    }else
					    {
					    	return '<a href="http://'+a+'" target="_blank">'+a+'</a>';
					    }
					});
					return str;
			}
			
			function url_replace1(str)
			{
					var reg = /((http|ftp|https):\/\/)?[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/g;
					str=str.replace(reg,function(a){
					    if(!a.indexOf('http'))
					    {
					    	return "<a href=\'"+a+"\' target=\'_blank\'>"+a+"</a>";
					    }else
					    {
					    	return "<a href=\'http://"+a+"\' target=\'_blank\'>"+a+"</a>";
					    }
					});
					return str;
			}
			
			function getRequestId()
			{
			    var url = decodeURI(location.search);
			    var theRequest = new Object();
			    if (url.indexOf('?') != -1) {
			        url = url.substr(1);
			    }
			    if (url) {
			        var strs = url.split('&');
			        for (var i = 0; i < strs.length; i++) {
			            var srtArry = strs[i].split('=');
			            var y = srtArry.shift();
			            theRequest[y] = unescape(srtArry.join('='));
			        }
			    }			    
			    return theRequest;
			}
			
			function  formatDate(now)
			{
			    var   now= new Date(now);     
			    var   year=now.getFullYear();     
			    var   month=now.getMonth()+1;     
			    var   date=now.getDate();     
			    var   hour=now.getHours();
			    var   minute=now.getMinutes();     
			    var   second=now.getSeconds();
			    return fixZero(date,2)+"/"+fixZero(month,2)+"/"+year;
			}  
			
			function fixZero(num,length)
			{     
			    var str=""+num;
			    var len=str.length;     var s="";
			    for(var i=length;i-->len;)
			    {         
			        s+="0";
			    }
			    return s+str;
			}
			
			function show_loading()
			{
					$('#loading_id').on('show.bs.modal', function(){
	          var $this = $(this);
	          var $modal_dialog = $this.find('.modal-dialog');
	          $this.css('display', 'block');
	          $modal_dialog.css({'margin-top': Math.max(0, ($(window).height() - $modal_dialog.height()) / 2) });
	        });
					$('#loading_id').modal('show');
			}
			
			function deleteId()
      {      		
      		show_loading();
					$.get("commissionOrder/deleteCommissionOrder", {
						id: v.orderId
					}, function(result) {
						$('#loading_id').modal('hide');
						if(result.data)
						{
								v.orderId = 0;
								$('#delete_id').modal('hide');
								$('#delete_id #alert_success').css('marginLeft','30%');
				   			$('#delete_id #alert_success').addClass('alert-success').show().delay(1500).fadeOut();
								//v.table_remove();
		   					//重新载入数据源
		   					v.getDatalist();
		   					$('.modal-backdrop').remove();
						}else
						{								
								$('#delete_id #alert_error').css('marginLeft','30%');
				   			$('#delete_id #alert_error').addClass('alert-danger').show().delay(3000).fadeOut();
        				$("#delete_id #error_info").html(result.message);
						}
					});      		
      }
			
	    jQuery(document).ready(function() {
	    		if (v.arr_ids)
	    		{
	    				if (v.arr_ids['service_id'] && v.arr_ids['order_id'])
	    				{
	    						//open_detail(v.arr_ids['service_id'],v.arr_ids['order_id']);
	    				}	    				
	    		}
	    });
		</script>
	</body>

</html>