<meta charset="utf-8"/>
<div id="app_sub2">
<div class="modal fade" id="visa_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document" style="width:700px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">佣金详情页</h4>
					</div>
					<div id="alert_success" class="alert alert-success fade in" style="display:none;position:absolute;z-index:9999;">
			      <button data-dismiss="alert" class="close close-sm" type="button">
			      <i class="fa fa-times"></i>
			      </button>
			      <strong>Success!</strong> You  just achieved success.
			  	</div>
			  	<div id="alert_error" class="alert alert-block alert-danger fade in" style="display:none;position:absolute;z-index:9999;">
		        <button data-dismiss="alert" class="close close-sm" type="button">
		        <i class="fa fa-times"></i>
		        </button>
		        <strong id="error_info"></strong>
		      </div>
		      <form class="cmxform form-inline" method="POST" name="visaid_form" id="visaid_form">
					<div class="modal-body">																																	
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>服务订单Id：</strong></label>								
								<label id="b0"></label>
							</div>
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>客户姓名：</strong></label>								
								<label id="b1"></label>
							</div>
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>顾问：</strong></label>
								<label id="b2" style="width:100px;"></label>
								<label class="control-label" style="display:none;" id="b3text"><strong>Mara：</label>
								<label id="b3" style="display:none;width:100px;"></label>
								<label class="control-label" style="display:none;" id="b4text"><strong>文案：</label>
								<label id="b4" style="display:none;width:100px;"></label>
							</div>
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>服务项目：</strong></label>
								<label id="b5">签证</label> - 
								<label id="b6"></label>						
							</div>
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>是否已支付：</strong></label>
								<label id="b7"></label>
							</div>
							<div class="form-group" style="display:none;width:100%;height:40px;" id="b7text">
								<label class="control-label" style="width:80px;"><strong>属性：</strong></label>
								<label id="b6c"></label>								
							</div>
							<div id="show_paymentpic" class="form-group" style="display:;width:100%;line-height:40px;">
								<label class="control-label"><strong>收款凭证：</strong></label>
								<label id="paymentpic_url"></label>
							</div>
							<div id="show_visapic" class="form-group" style="display:;width:100%;line-height:40px;">
								<label class="control-label"><strong>签证凭证：</strong></label>
								<label id="visapic_url"></label>
							</div>
							<hr/>
							<div id="show_paid" style="width:100%;">
							<div class="form-group" style="width:100%;">								
									<label class="control-label" style="width:80px;"><strong>收款日期</strong></label>
									<input type="text" autocomplete="off" name="b8" id="b8" class="form-control default-date-picker" style="width:200px;font-weight:normal;" placeholder="请选择日期" data-date-format="yyyy-mm-dd">
									<label class="control-label"><strong>收款方式</strong></label>
									<select class="form-control" style="width:150px;font-weight:normal;" name="b9" id="b9"></select>									
							</div>
							<div class="form-group" style="display:block;line-height:40px;">
									<div class="form-group">
										<label class="control-label" style="width:80px;"><strong>总计应收</strong></label>
										$<input type="text" autocomplete="off" name="b10" id="b10" class="form-control" style="width:100px;font-weight:normal;">
									</div>								
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label"><strong>总计收款</strong></label>
										$<input type="text" autocomplete="off" name="b12" id="b12" class="form-control" style="width:100px;font-weight:normal;">
									</div>
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label"><strong>付款次数</strong></label>
										<label id="b13" style="font-weight:normal;"></label>
									</div>
							</div>
							<div class="form-group" style="display:block;line-height:40px;">
									<div class="form-group">
										<label class="control-label" style="width:80px;"><strong>本次应收</strong></label>
										$<input type="text" autocomplete="off" name="b14a" id="b14a" onkeyup="computeDiscount()" class="form-control" style="width:80px;font-weight:normal;">
									</div>
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label"><strong>折扣</strong></label>
										$<input type="text" autocomplete="off" disabled="disabled" name="b11" id="b11" class="form-control" style="width:80px;font-weight:normal;">
									</div>
									<div class="form-group">
										<label class="control-label" style="color:red;"><strong>本次实收金额</strong></label>
										$<input type="text" autocomplete="off" name="b14" id="b14" onkeyup="computeDiscount()" class="form-control" style="width:80px;font-weight:normal;">
									</div>
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label"><strong>GST</strong></label>
										$<input type="text" autocomplete="off" name="b15" id="b15" class="form-control" readonly="true" style="width:80px;font-weight:normal;">
									</div>
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label"><strong>Deduct GST</strong></label>
										$<input type="text" autocomplete="off" name="b16" id="b16" class="form-control" readonly="true" style="width:80px;font-weight:normal;">
									</div>
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label">预收业绩(<span style="color:#FF6C60;">Commission含GST</span>)</label>
										$<input type="text" autocomplete="off" readonly="readonly" name="b17" id="b17" class="form-control" style="width:80px;font-weight:normal;">&nbsp;<span style="font-weight:bold;">(“本次实收金额”务必填写实际收到客户的金额。)</span>
									</div>
							</div>
							</div>							
							<div class="form-group" style="width:100%;line-height:40px;">
								<label class="control-label"><strong>备注</strong></label>
								<textarea id="b18" class="form-control" style="width:98%;font-weight:normal;"></textarea>
							</div>																										
					</div>										
					<div class="modal-footer" style="text-align: center;">
							<input type="file" id="f1" style="display:none">
							<input type="hidden" id="flist" value="" />
							<div id="show_paymentvisa_pic" style="display:none;padding-bottom:10px;"></div>
							<dle id="btn-footer" v-if="ap_list==='GW'">									
									<dle v-if="state==='PENDING' || state==='WAIT'">
									<div id="show_pic" style="display:none;padding-bottom:10px;"></div>
									<button onclick="upload_receipt_pic('f1')" id="btn_receipt" type="button" class="btn btn-danger">上传收款凭证</button>
									<button id="btn_request" type="submit" class="btn btn-primary"><span id="btn_id">申请月奖</span></button>									
									</dle>
							</dle>													
							<button onclick="" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
					</form>
				</div>
			</div>
</div>
</div>
<script>
var v_sub2 = new Vue({
				el: '#app_sub2',
				data: {
					admin: sessionStorage.getItem("admin"),
					ap_list: sessionStorage.getItem("ap_list"),
					m_list: localStorage.getItem("str_html"),
					adviser_id: sessionStorage.getItem("adviser_id"),
					official_id: sessionStorage.getItem("official_id"),
					serviceId: 0,					
					orderId: 0,
					state: '',
					order_detail: [],					
				},
				created: function() {
					//初始化
					page_init();
				}
});

function edit_commission_detail(serviceId,orderId)
{
		v_sub2.serviceId = serviceId;
		v_sub2.orderId = orderId;		
		//佣金详细页
		$.ajax({
      url: url + 'serviceOrder/get?id='+serviceId,
      type: 'GET',
      dataType: 'json'
    }).done(function(response) {			        	
    	response = response.data;
    	if (response.id)    	
    	{
    			$('#visa_id').modal('show');
		    	$('#visa_id #b0').html(response.id);
		    	$('#visa_id #b1').html(response.user.name);
		    	$('#visa_id #b2').html(response.adviser.name);		    	
		    	if (response.type == 'SIV')
		    	{
		    			$("#visa_id #b3text").hide();
			    		$("#visa_id #b3").hide();
			    		$("#visa_id #b4text").hide();
			    		$("#visa_id #b4").hide();	
			    		$("#visa_id #b5").html('独立技术移民');				    		
			    		var str_package = return_childrenService(response.childrenServiceOrders);
			    		$('#visa_id #b6').html(response.service.code+' - '+str_package);
			    		//属性处理
        			if (response.peopleType) $('#visa_id #b6c').html(return_attribute(response.peopleType,response.peopleNumber));
			    		$("#visa_id #b7text").show();
		    	}else
		    	{
		    			$("#visa_id #b3text").show();
			    		$("#visa_id #b3").show();
			    		$("#visa_id #b4text").show();
			    		$("#visa_id #b4").show();			    		
				    	if (response.maraId) $('#visa_id #b3').html(response.mara.name);
				    	if (response.officialId) $('#visa_id #b4').html(response.official.name);
				    	$("#visa_id #b5").html('签证');	
				    	$('#visa_id #b6').html(response.service.code);
				    	$("#visa_id #b7text").hide();
		    	}		    	
		    	$('#visa_id #b7').html('是');
        	$('#visa_id #show_paid').show();	        	
    	}   	
    	//查询佣金订单信息
    	$.ajax({
	      url: url + 'visa/get?id='+orderId,
	      type: 'GET',
	      async: false,
	      dataType: 'json'
	    }).done(function(response) {			        	
	    	response = response.data;
	    	v_sub2.order_detail = response;
	    	v_sub2.state = response.state;   	
	    	if (response.id)	    	
	    	{	    			
	    			//if (response.receiveDate) $("#visa_id #b8").val(v.getTime(response.receiveDate));
	        	$("#visa_id #b9").val(response.receiveTypeId);
	        	if (response.totalPerAmount) $("#visa_id #b10").val(response.totalPerAmount);
	        	if (response.discount) $("#visa_id #b11").val(response.discount);
	        	if (response.totalAmount) $("#visa_id #b12").val(response.totalAmount);	        	
	        	$('#visa_id #b13').html(response.installmentNum+'/'+response.installment);
	        	if (response.perAmount) $("#visa_id #b14a").val(response.perAmount);
	        	if (response.amount) $("#visa_id #b14").val(response.amount);
	        	if (response.gst) $("#visa_id #b15").val(response.gst);
	        	if (response.deductGst) $("#visa_id #b16").val(response.deductGst);
	        	if (response.expectAmount) $("#visa_id #b17").val(response.expectAmount);
	        	if (response.remarks) $("#visa_id #b18").val(response.remarks);
	        	if (response.state == 'WAIT')
	        	{
	        			$("#visa_id #b10").attr("disabled",true);
	        			$("#visa_id #b12").attr("disabled",true);
	        	}else
	        	{
	        			$("#visa_id #b10").attr("disabled",false);
	        			$("#visa_id #b12").attr("disabled",false);
	        	}
      			//收款凭证
      			var str_flist = '';
      			$('#visa_id #show_paymentpic').show();
      			$("#visa_id #paymentpic_url").empty();      			
      			if (response.paymentVoucherImageUrl1)
						{
								str_flist = response.paymentVoucherImageUrl1;
								$("#visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl1+'" target="_blank">凭证1</a>&nbsp;');
						}
						if (response.paymentVoucherImageUrl2)
						{
								str_flist += ','+response.paymentVoucherImageUrl2;
								$("#visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl2+'" target="_blank">凭证2</a>&nbsp;');
						}
						if (response.paymentVoucherImageUrl3)
						{
								str_flist += ','+response.paymentVoucherImageUrl3;
								$("#visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl3+'" target="_blank">凭证3</a>&nbsp;');
						}
						if (response.paymentVoucherImageUrl4)
						{
								str_flist += ','+response.paymentVoucherImageUrl4;
								$("#visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl4+'" target="_blank">凭证4</a>&nbsp;');
						}
						if (response.paymentVoucherImageUrl5)
						{
								str_flist += ','+response.paymentVoucherImageUrl5;
								$("#visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl5+'" target="_blank">凭证5</a>&nbsp;');
						}
						if (str_flist != '') $('#visa_id #flist').val(str_flist);
						$('#visa_id #show_paymentvisa_pic').show();						
						//生成签证凭证
						$('#visa_id #show_visapic').show();	
						$("#visa_id #visapic_url").empty();
						if (response.visaVoucherImageUrl)
						{
								$("#visa_id #visapic_url").append('<a href="/statics'+response.visaVoucherImageUrl+'" target="_blank">查看</a>&nbsp;');
						}
	    	}
    	});
    	
    });
}

function return_attribute(peopleType,peopleNumber)
{
		var str = '';
		switch(peopleType)
		{
				case '1A':
						str = '单人';
				break;
				case '1B':
						str = '单人 - 提配偶';
				break;
				case '2A':
						str = '多人('+peopleNumber+'人) - 带配偶';
				break;
				case 'XB':
						str = '多人('+peopleNumber+'人) - 带配偶孩子';
				break;
				case 'XA':
						str = '多人('+peopleNumber+'人) - 带孩子';
				break;
				case 'XC':
						str = '多人('+peopleNumber+'人) - 其它';
				break;
		}
		return str;
}

function requestCommissionVisaSave()
{
		var f = '#visa_id ';    
    
    var check_result = 0;    
    if ($(f+'#b8').val() != '' && $(f+'#b10').val() >0 && $(f+'#b12').val() >0 && $(f+'#b14a').val() >0 && $(f+'#b14').val() > 0)
    {
    		check_result = true;
    }else    		
    {
    		$('#visa_id #alert_error').css('marginLeft','15%');
    		$('#visa_id #alert_error').css('marginTop','50%');
    		$('#visa_id #alert_error').addClass('alert-danger').show().delay(3000).fadeOut();
        $("#visa_id #error_info").html('提示：收款日期/总计应收/总计收款/本次应收/本次实收金额必须填写或选择且金额须大于0！');
    		return false;
    }   
        
    if (check_result)
    {            	            	            	                             
       	var str_url = url + "visa/update";
       	var json = {};
       	       		
       	json['id'] = v_sub2.orderId;
       	json['userId'] = v_sub2.order_detail.userId;      	
       	json['adviserId'] = v_sub2.order_detail.adviserId;
       	json['officialId'] = v_sub2.order_detail.officialId;
       	json['handlingDate'] = 0;//办理时间应该去掉
       	json['receiveTypeId'] =  $(f+'#b9').val();       	      	
       	var d = 0;
       	if ($(f+'#b8').val())
       	{
       			var arr_d = $(f+'#b8').val().split("/");
        		var str_d = arr_d[2]+'-'+arr_d[1]+'-'+arr_d[0];
            var date = new Date(str_d);
            d = date.getTime();
       	}else
       	{
       			d = 0;
       	}
       	json['receiveDate'] =  d;       	
       	json['serviceId'] =  v_sub2.order_detail.serviceId;
       	json['serviceOrderId'] =  v_sub2.order_detail.serviceOrderId;
       	json['receivable'] =  $(f+'#b10').val();
       	json['received'] =  $(f+'#b12').val();       	
       	json['perAmount'] =  $(f+'#b14a').val();       	
       	json['amount'] =  $(f+'#b14').val();
       	json['remarks'] =  $(f+'#b18').val();
       	//校验是否上传了凭证
       	var flist = $("#visa_id #flist").val();       	
       	if (flist != '')
       	{       			
       			//对凭证进行处理
   					var arr = flist.split(',');
   					if (arr.length && arr.length <= 5)
   					{
   							var t = 1;
   							for(var i=0;i<arr.length;i++)
   							{
     								json['paymentVoucherImageUrl'+t] = arr[i];
     								t++;
   							}       							
   					}
       	}else
       	{
       			$('#visa_id #alert_error').css('marginTop','30%');
   					$('#visa_id #alert_error').css('marginLeft','30%');
   					$('#visa_id #alert_error').addClass('alert-danger').show().delay(3000).fadeOut();
      			$("#visa_id #error_info").html('收款凭证必须上传！');
      			return false;
       	}
       	show_loading();
       	
       	$.post(str_url, json,
		   	function(data){
		   			$('#loading_id').modal('hide');
		   			if (data.code == 0)
		   			{
		   					//提交财务审核		   					
		   					$('#visa_id #alert_success').css('marginTop','30%');
		   					$('#visa_id #alert_success').css('marginLeft','30%');
		   					$('#visa_id #alert_success').addClass('alert-success').show().delay(1500).fadeOut();
		   					setTimeout(function(){v.getDatalist();$('.modal-backdrop').remove();}, 1000);
			   				$('#visa_id').modal('hide');
		   			}else
		   			{		   					
		   					$('#visa_id #alert_error').css('marginTop','30%');
		   					$('#visa_id #alert_error').css('marginLeft','30%');
		   					$('#visa_id #alert_error').addClass('alert-danger').show().delay(3000).fadeOut();
          			$("#visa_id #error_info").html(data.message);
	        			return false;
		   			}
		   	});       		            
    }
}

function computeDiscount()
{
		var perAmount = $("#visa_id #b14a").val();
		var amount = $("#visa_id #b14").val();
		if (parseInt(perAmount) && parseInt(amount))
		{				
				var discount = parseInt(perAmount) - parseInt(amount);
				$("#visa_id #b11").val(discount);
		}
}

function page_init()
{
		$('.default-date-picker').datepicker({   				
	        format: 'dd/mm/yyyy'
	  });
	  $('.default-date-picker1').datepicker({   				
	        format: 'dd/mm/yyyy'			        
	  });
	  //收款方式
	  var receive_type = $("#visa_id #b9");
    $.ajax({
      url: url + 'receiveType/list?state=ENABLED',
      type: 'GET',
      async: false,
      dataType: 'json'
    }).done(function(response) {
    	response = response.data;
    	for (var item in response)
    	{
    			receive_type.append("<option value='"+response[item].id+"'>"+response[item].name+"</option>");
    	}  		 	    
    });
    //计算GST相关金额
    $("#visa_id #b14").keyup(function(){
    	var fee = $("#visa_id #b14").val();
    	var gst = (fee/11).toFixed(2);
    	$("#visa_id #b15").val(gst);
    	var deduct_gst = (fee-gst).toFixed(2);
    	$("#visa_id #b16").val(deduct_gst);	
    	$("#visa_id #b17").val(fee);	        	
		});
}

function upload_receipt_pic(fname)
{
		document.getElementById(fname).click(); 
}

$('#visa_id #f1').live('change', function (e) {
		var formData = new FormData();					
		formData.append("file",$("#f1")[0].files[0]);
		
		$.ajax({
        url: url + 'visa/upload_img',
        dataType:'json',
        type:'POST',
        async: false,
        data: formData,
        processData : false, //使数据不做处理
        contentType : false,
        success: function(data){			        		
            if (data.code == '0') {
            		var flist = $("#visa_id #flist").val();
            		if (flist)
            		{
            				$("#visa_id #flist").val(flist+','+data.data);
            		}else
            		{
            				$("#visa_id #flist").val(data.data);
            		}
		        		$("#visa_id #show_pic").append('<a href="'+data.data+'" target="_blank"><span style="color:green;">查看凭证</span></a>&nbsp;');
		        		$("#visa_id #show_pic").show();
            }else
            {
            		$('#visa_id #alert_error').css('marginTop','60%');
          			$('#visa_id #alert_error').css('marginLeft','60%');
		   					$('#visa_id #alert_error').addClass('alert-danger').show().delay(3000).fadeOut();
          			$("#visa_id #error_info").html('收款凭证上传失败！');
            }	
        },
        error:function(response){
            console.log(response);
        }
    });
});

$('#visa_id').on('show.bs.modal', function () {
	$("#visa_id #visaid_form").validate({
			submitHandler: function () {						
            requestCommissionVisaSave();
      },
      rules: {
          b8: {required:true,minlength:10},
          b9: {required:true,min:1},
          b14a: {required:true,minlength:1,number:true},
          b14: {required:true,minlength:1,number:true},          
      },
      messages: {
          b8: {required:"请选择",minlength:"格式错"},
          b9: {required:"",min:"请选择"},
          b14a: {required:"",minlength:"",number:"格式错"},
          b14: {required:"",minlength:"",number:"格式错"},          
      }
  });
});
</script>