<meta charset="utf-8"/>
<meta http-equiv="Pragma" content="no-cache" />   
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<div id="app_sub">
<div class="modal fade" id="show_visa_id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
			<div class="modal-dialog" role="document" style="width:700px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">佣金详情页</h4>
					</div>
					<div id="alert_success" class="alert alert-success fade in" style="display:none;position:absolute;z-index:9999;">
			      <button data-dismiss="alert" class="close close-sm" type="button">
			      <i class="fa fa-times"></i>
			      </button>
			      <strong>Success!</strong> You  just achieved success.
			  	</div>
			  	<div id="alert_error" class="alert alert-block alert-danger fade in" style="display:none;position:absolute;z-index:9999;">
		        <button data-dismiss="alert" class="close close-sm" type="button">
		        <i class="fa fa-times"></i>
		        </button>
		        <strong id="error_info"></strong>
		      </div>
					<div class="modal-body">
							<form class="form-inline" style="">																											
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>服务订单Id：</strong></label>								
								<label id="b0"></label>
							</div>
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>客户姓名：</strong></label>								
								<label id="b1"></label>
							</div>
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>顾问：</strong></label>
								<label id="b2" style="width:100px;"></label>
								<label class="control-label" style="display:none;" id="b3text"><strong>Mara：</label>
								<label id="b3" style="display:none;width:100px;"></label>
								<label class="control-label" style="display:none;" id="b4text"><strong>文案：</label>
								<label id="b4" style="display:none;width:100px;"></label>
							</div>
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>服务项目：</strong></label>
								<label id="b5">签证</label> - 
								<label id="b6"></label>
								<label style="display:inline;" id="b6a"></label>	
							</div>
							<div class="form-group" style="display:none;width:100%;height:40px;" id="b7text">
								<label class="control-label" style="width:80px;"><strong>属性：</strong></label>
								<label id="b6c"></label>								
							</div>
							<div id="b20atext" class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px"><strong>坚果云<br/>资料地址：</strong></label>							
								<label id="b20a"></label>
							</div>
							<div id="b20btext" class="form-group" style="width:100%;line-height:40px;">
								<label class="control-label"><strong>客户基本信息描述：</strong></label>
								<label id="b20b"></label>
							</div>
							<div class="form-group" style="width:100%;height:40px;">
								<label class="control-label" style="width:80px;"><strong>是否已支付：</strong></label>
								<label id="b7"></label>
								<label id="b7atext" style="margin-left:10px;"><strong>是否历史订单：</strong></label>
								<label id="b7a"></label>
							</div>							
							<div id="show_paid" style="width:100%;">
							<hr/>
							<div class="form-group" style="width:100%;">								
									<label class="control-label" style="width:80px;"><strong>收款日期：</strong></label>
									<label id="b8" style="width:100px;"></label>
									<label class="control-label"><strong>收款方式：</strong></label>
									<label id="b9" style="width:150px;"></label>
							</div>
							<div class="form-group" style="display:block;line-height:40px;">
									<div class="form-group">
										<label class="control-label" style="width:80px;"><strong>总计应收：</strong></label>
										$<label id="b10" style="width:80px;"></label>
									</div>									
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label"><strong>总计收款：</strong></label>
										$<label id="b12" style="width:80px;"></label>
									</div>
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label"><strong>付款次数：</strong></label>
										<label id="b13"></label>
									</div>
							</div>
							<div class="form-group" style="display:block;line-height:40px;">
									<div class="form-group" style="">
										<label class="control-label"><strong>本次应收：</strong></label>
										$<label id="b14a" style="width:80px;"></label>
									</div>
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label"><strong>折扣：</strong></label>
										$<label id="b11" style="width:80px;"></label>
									</div>
									<div class="form-group">
										<label class="control-label" style="width:100px;color:red;"><strong>本次实收金额：</strong></label>
										$<label id="b14" style="width:70px;"></label>
									</div>
									<div class="form-group" style="margin-left:10px;">
										<label class="control-label"><strong>GST：</strong></label>
										$<label id="b15" style="width:70px;"></label>
									</div>
									<div class="form-group" style="">
										<label class="control-label"><strong>Deduct GST：</strong></label>
										$<label id="b16" style="width:65px;"></label>
									</div>
									<div class="form-group" style="">
										<label class="control-label"><strong>预收业绩(<span style="color:#FF6C60;">Commission含GST</span>)：</strong></label>
										$<label id="b17" style="width:50px;"></label>&nbsp;<span style="font-weight:bold;">(“本次实收金额”务必填写实际收到客户的金额。)</span>
									</div>
							</div>
							<div class="form-group" style="width:100%;height:40px;margin-top:10px;">
									<label class="control-label"><strong>银行对账Code</strong></label>
									<label id="b17a" style="width:50px;"></label>
							</div>
							</div>
							<div id="show_paymentpic" class="form-group" style="display:;width:100%;line-height:40px;">
								<label class="control-label"><strong>收款凭证：</strong></label>
								<label id="paymentpic_url"></label>
							</div>
							<div id="show_visapic" class="form-group" style="display:;width:100%;line-height:40px;">
								<label class="control-label"><strong>签证凭证：</strong></label>
								<label id="visapic_url"></label>
							</div>
							<hr/>
							<div class="form-group" style="width:100%;line-height:40px;">
								<label class="control-label"><strong>备注：</strong></label>
								<label id="b18" style="word-break:break-all;"></label>
							</div>
							<div id="load-comment-1" style="display:;"></div>
							</form>
					</div>					
					<div class="modal-footer" style="text-align: center;">
							<dle v-if="ap_list==='GW' && v_sub.adviserId === current_adviserId">									
									<dle v-if="state==='PENDING'">
									<button onclick="$('#show_visa_id').modal('hide');reqCommissionVisa(v_sub.serviceId,v_sub.orderId);" type="button" class="btn btn-primary">申请月奖</button>
									</dle>
							</dle>													
							<button onclick="" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
</div>
</div>

<script>
var v_sub = new Vue({
				el: '#app_sub',
				data: {
					admin: sessionStorage.getItem("admin"),
					ap_list: sessionStorage.getItem("ap_list"),
					m_list: localStorage.getItem("str_html"),
					adviser_id: sessionStorage.getItem("adviser_id"),
					official_id: sessionStorage.getItem("official_id"),
					current_adviserId: parseInt(sessionStorage.getItem("adviser_id")),
					serviceId: 0,
					orderId: 0,
					state: '',
					order_detail: [],					
				},
				created: function() {					
				}
});

function show_commission_detail(serviceId,orderId)
{
		v_sub.serviceId = serviceId;
		v_sub.orderId = orderId;
		v.orderId = orderId;		
		//佣金详细页
		$.ajax({
      url: url + 'serviceOrder/get?id='+serviceId,
      type: 'GET',
      dataType: 'json'
    }).done(function(response) {			        	
    	response = response.data;
    	if (response.id)
    	{
		    	$('#show_visa_id').modal('show');
		    	$("#load-comment-1").load("mycommission-common-view-comment.html?random="+Math.random());
		    	$('#show_visa_id #b0').html(response.id);
		    	$('#show_visa_id #b1').html(response.user.name);
		    	$('#show_visa_id #b2').html(response.adviser.name);
		    	if (response.type == 'SIV')
		    	{
		    			$("#show_visa_id #b3text").hide();
			    		$("#show_visa_id #b3").hide();
			    		$("#show_visa_id #b4text").hide();
			    		$("#show_visa_id #b4").hide();	
			    		$("#show_visa_id #b5").html('独立技术移民');				    		
			    		var str_package = return_childrenService(response.childrenServiceOrders);
			    		$('#show_visa_id #b6').html(response.service.code+' - '+str_package);
			    		//属性处理
        			if (response.peopleType) $('#show_visa_id #b6c').html(return_attribute(response.peopleType,response.peopleNumber));
			    		$("#show_visa_id #b7text").show();
		    	}else
		    	{
		    			$("#show_visa_id #b3text").show();
			    		$("#show_visa_id #b3").show();
			    		$("#show_visa_id #b4text").show();
			    		$("#show_visa_id #b4").show();
				    	if (response.maraId) $('#show_visa_id #b3').html(response.mara.name);
				    	if (response.officialId) $('#show_visa_id #b4').html(response.official.name);
				    	$("#show_visa_id #b5").html('签证');	
				    	$('#show_visa_id #b6').html(response.service.code);
				    	$("#show_visa_id #b7text").hide();
				    	//属性处理
        			if (response.peopleType) $('#show_visa_id #b6c').html(return_attribute(response.peopleType,response.peopleNumber)); 
		        	$("#show_visa_id #b7text").show();
		        	$("#show_visa_id #b7atext").show();
		        	var isHistory = '否';
		        	if (response.history) isHistory = '是'; 
		        	$("#show_visa_id #b7a").html(isHistory);
		        	$("#show_visa_id #b7a").show(); 
		        	$("#show_visa_id #b20atext").show();
		        	$("#show_visa_id #b20btext").show();
		        	var nutCloud_url = '';
		        	if (response.nutCloud != null) nutCloud_url = '<a href="'+response.nutCloud+'" target="_blank">打开链接</a>';
		        	$("#show_visa_id #b20a").html(nutCloud_url);
		        	$("#show_visa_id #b20b").html(response.information);
		    	}
        	$('#show_visa_id #b7').html('是'); 
        	$('#show_visa_id #show_paid').show();
    	}  	
    	//查询佣金订单信息
    	$.ajax({
	      url: url + 'visa/get?id='+orderId,
	      type: 'GET',
	      dataType: 'json'
	    }).done(function(response) {			        	
	    	response = response.data;
	    	v_sub.order_detail = response;
	    	v_sub.state = response.state;
	    	if (response.id)
	    	{	    			
				    $('#show_visa_id #b8').html(v.getTime(response.receiveDate));        	
	        	if (response.receiveTypeId) $('#show_visa_id #b9').html(response.receiveTypeName);
	        	$('#show_visa_id #b10').html(response.totalPerAmount);
	        	$('#show_visa_id #b11').html(response.discount);
	        	$('#show_visa_id #b12').html(response.totalAmount);
	        	$('#show_visa_id #b13').html(response.installmentNum+'/'+response.installment);
	        	$('#show_visa_id #b14').html(response.amount);
	        	$('#show_visa_id #b14a').html(response.perAmount);
	        	$('#show_visa_id #b15').html(response.gst);
	        	$('#show_visa_id #b16').html(response.deductGst);
	        	$('#show_visa_id #b17').html(response.expectAmount);
	        	$('#show_visa_id #b17a').html(response.verifyCode);
	        	if (response.remarks) response.remarks = url_replace(response.remarks);
	        	$('#show_visa_id #b18').html(response.remarks);
	        	//生成收款凭证列表
						var str_flist = '';
						$("#show_visa_id #paymentpic_url").empty();
						if (response.paymentVoucherImageUrl1)
						{
								str_flist = response.paymentVoucherImageUrl1;
								$("#show_visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl1+'" target="_blank">凭证1</a>&nbsp;');
						}
						if (response.paymentVoucherImageUrl2)
						{
								str_flist += ','+response.paymentVoucherImageUrl2;
								$("#show_visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl2+'" target="_blank">凭证2</a>&nbsp;');
						}
						if (response.paymentVoucherImageUrl3)
						{
								str_flist += ','+response.paymentVoucherImageUrl3;
								$("#show_visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl3+'" target="_blank">凭证3</a>&nbsp;');
						}
						if (response.paymentVoucherImageUrl4)
						{
								str_flist += ','+response.paymentVoucherImageUrl4;
								$("#show_visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl4+'" target="_blank">凭证4</a>&nbsp;');
						}
						if (response.paymentVoucherImageUrl5)
						{
								str_flist += ','+response.paymentVoucherImageUrl5;
								$("#show_visa_id #paymentpic_url").append('<a href="/statics'+response.paymentVoucherImageUrl5+'" target="_blank">凭证5</a>&nbsp;');
						}
						//生成签证凭证
						$("#show_visa_id #visapic_url").empty();
						if (response.visaVoucherImageUrl)
						{
								str_flist = response.visaVoucherImageUrl;
								$("#show_visa_id #visapic_url").append('<a href="/statics'+response.visaVoucherImageUrl+'" target="_blank">查看</a>&nbsp;');
						}
						$('#show_visa_id #show_visapic').show();					
	    	}
    	});
    	
    });
}
</script>