<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="renderer" content="webkit">
		<link rel="shortcut icon" href="img/favicon.ico">
		<title>分类列表</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-reset.css" rel="stylesheet">
		<link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">
		<link href="css/style-responsive.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="js/html5shiv.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body id="teamBuyer" v-cloak>
		<section id="container">
			<header class="header white-bg">
				<div class="sidebar-toggle-box">
					<div data-placement="right" class="fa fa-bars tooltips">
					</div>
				</div>
				<a href="class-list.htm" class="logo">
					指南针教育
					<span>
           	 ADMIN
          </span>
				</a>
				<div class="top-nav ">
					<ul class="nav pull-right top-menu">
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="username">
                  {{admin}}
                </span>
								<b class="caret">
                </b>
							</a>
							<ul class="dropdown-menu extended logout">
								<li class="log-arrow-up">
								</li>
								<li>
									<a @click="out" href="javascript:;">
										<i class="fa fa-key">
                    </i> Log Out
									</a>
								</li>
								<li></li>
							</ul>
						</li>
					</ul>
				</div>
			</header>
			<aside>
				<div id="sidebar" class="nav-collapse">
					<ul class="sidebar-menu" id="nav-accordion">
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-book">
                </i>
								<span>
                 	 课程管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="class-list.htm">
										课程列表
									</a>
								</li>
								<li>
									<a href="add-class.htm">
										新增课程
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-tasks">
                </i>
								<span>
             		 订单管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="order-list.htm">
										订单列表
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;" class="active">
								<i class="fa fa-th">
                </i>
								<span>
          				分类管理
                </span>
							</a>
							<ul class="sub">
								<li class="active">
									<a href="sort-list.htm">
										分类列表
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class=" fa fa-user">
                </i>
								<span>
                  	客户管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="customer-list.htm">
										客户列表
									</a>
								</li>
								<li>
									<a href="customer-list2.htm">
										来源统计
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-laptop">
                </i>
								<span>
              		顾问管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="adviser-list.htm">
										顾问列表
									</a>
								</li>
								<li>
									<a href="add-adviser.htm">
										新增顾问
									</a>
								</li>
							</ul>
						</li>
						<li class="sub-menu">
							<a href="javascript:;">
								<i class="fa fa-map-marker">
                </i>
								<span>
              		区域管理
                </span>
							</a>
							<ul class="sub">
								<li>
									<a href="area-list.htm">
										区域列表
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</aside>
			<section id="main-content" class="content">
				<section class="wrapper site-min-height">
					<div class="row">
						<div class="col-lg-12">
							<section class="panel">
								<header class="panel-heading">
									分类列表
								</header>
								<div class="panel-body">
									<div class="adv-table">
										<form class="form-inline">
											<div class="form-group">
												<select v-model="searchShow" class="form-control" size="1" name="example_length">
													<option value="" selected="selected">--分类是否显示--</option>
													<option value="ENABLED">是</option>
													<option value="DISABLED">否</option>
												</select>
											</div>
											<div class="form-group">
												<button @click="getSort" type="button" class="btn btn-info">查询</button>
												<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addSort">新增分类</button>
											</div>
										</form>
										<div class="responsive-table margin-top">
											<table class="display table table-bordered table-striped" id="example">
												<thead>
													<tr>
														<th>分类名</th>
														<th>显示</th>
														<th>排序</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>
													<tr v-for="item in sort" class="gradeX">
														<td>{{item.name}}</td>
														<td>{{item.state | state}}</td>
														<td>{{item.weight}}</td>
														<td>
															<button @click="getClass(item.id,'')" type="button" class="btn btn-primary" data-toggle="modal" data-target="#chooseClass">选择课程</button>
															<button @click="changeSortId($index,item.id)" type="button" class="btn btn-warning" data-toggle="modal" data-target="#changeSort">修改分类</button>
															<button @click="deleteSortId(item.id)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteSort">删除</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="row-fluid">
											<div class="span6">
												<div class="dataTables_info" id="hidden-table-info_info">共{{count}}条</div>
											</div>
											<div class="span6">
												<div class="dataTables_paginate paging_bootstrap pagination">
													<ul>
														<li :class="[pageNum==0?'disabled':'']">
															<a @click="firstPage" href="javascript:;">首页</a>
														</li>
														<li :class="[pageNum==0?'disabled':'']">
															<a @click="prevPage" href="javascript:;">← Pre</a>
														</li>
														<li class="nowPage">
															第{{pageNum+1}}页
														</li>
														<li :class="[pageNum==allPage-1?'disabled':'']">
															<a @click="nextPage" href="javascript:;">Next → </a>
														</li>
														<li :class="[pageNum==allPage-1?'disabled':'']">
															<a @click="lastPage" href="javascript:;">末页</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</section>
						</div>
					</div>
				</section>
			</section>
			<footer class="site-footer">
				<div class="text-center">
					2017 &copy; 指南针教育 ADMIN
					<a href="#" class="go-top">
						<i class="fa fa-angle-up">
            </i>
					</a>
				</div>
			</footer>
		</section>
		<div class="modal fade" id="addSort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">新增分类</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">分类名</label>
								<div class="col-sm-8">
									<input v-model.trim="addName" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">显示</label>
								<div class="col-sm-8">
									<select v-model="addShow" class="form-control">
										<option value="ENABLED" selected="selected">是</option>
										<option value="DISABLED">否</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">显示顺序</label>
								<div class="col-sm-8">
									<input v-model.trim="addWeight" type="text" class="form-control">
								</div>
							</div>
							<div v-if="eror" class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-8 text-danger">{{eror}}</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button @click="addSort" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="changeSort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">修改分类</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">分类名</label>
								<div class="col-sm-8">
									<input v-model.trim="sortDetail.name" type="text" class="form-control">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">显示</label>
								<div class="col-sm-8">
									<select v-model="sortDetail.state" class="form-control">
										<option value="ENABLED">是</option>
										<option value="DISABLED">否</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">显示顺序</label>
								<div class="col-sm-8">
									<input v-model.trim="sortDetail.weight" type="text" class="form-control">
								</div>
							</div>
							<div v-if="eror" class="form-group">
								<label class="col-sm-2 control-label"></label>
								<div class="col-sm-8 text-danger">{{eror}}</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button @click="changeSort" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade sort bs-example-modal-lg" id="chooseClass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">选择课程</h4>
					</div>
					<div class="modal-body clearfix">
						<div class="col-sm-6">
							<div class="form-group center">
								<label class="col-sm-2 control-label buttons">
										<span @click="up" class="arrow">
											<i class="fa fa-angle-double-up"></i>
										</span>
										<span @click="down" class="arrow">
											<i class="fa fa-angle-double-down"></i>
										</span>
									</label>
								<div class="col-sm-10">
									<form class="form-inline align-right">
										<select v-model="showValue" class="form-control" size="1" name="example_length">
											<option value="" selected="selected">--拼团状态--</option>
											<option value="WAIT">未开始</option>
											<option value="START">拼团中</option>
											<option value="END">已结束</option>
											<option value="STOP">已终止</option>
										</select>
										<button @click="showState" type="button" class="btn btn-info">查询</button>
									</form>
									<label class="control-label title">显示课程</label>
									<ul class="border">
										<li @click="showChoose(item.id,$index,item)" v-for="item in showClass" v-bind:class="[item.id==classId?'active':'']">
											{{item.name}}
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group center">
								<label for="inputEmail3" class="col-sm-2 control-label buttons">
										<span @click="left" class="arrow">
											<i class="fa fa-angle-double-left"></i>
										</span>
										<span @click="right" class="arrow">
											<i class="fa fa-angle-double-right"></i>
										</span>
									</label>
								<div class="col-sm-10">
									<form class="form-inline align-right">
										<select v-model="hideValue" class="form-control" size="1" name="example_length">
											<option value="" selected="selected">--拼团状态--</option>
											<option value="WAIT">未开始</option>
											<option value="START">拼团中</option>
											<option value="END">已结束</option>
											<option value="STOP">已终止</option>
										</select>
										<button @click="hideState" type="button" class="btn btn-info">查询</button>
									</form>
									<label for="inputEmail3" class="control-label title">隐藏课程</label>
									<ul class="border">
										<li @click="hideChoose(item.id,$index,item)" v-for="item in hideClass" v-bind:class="[item.id==classId?'active':'']">
											{{item.name}}
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<!--<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>-->
						<button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="deleteSort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">删除分类</h4>
					</div>
					<div class="modal-body">
						确认删除该分类吗？
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button @click="deleteSort" type="button" class="btn btn-primary">确认</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="point" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">提示</h4>
					</div>
					<div class="modal-body">
						该分类下面包含课程，请先清空显示课程再删除；
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.scrollTo.min.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<script src="js/common-scripts.js"></script>
		<script src="js/vue.js"></script>
		<script src="js/common.js?verson=1"></script>
		<script>
			tb.isLogin("sort-list.htm");
			$("td,th").addClass("text-center");
			var v = new Vue({
				el: '#teamBuyer',
				data: {
					admin: sessionStorage.getItem("admin"),
					sort: [],
					sortDetail: {},
					count: 0,
					searchShow: '',
					addName: '',
					addShow: '',
					addWeight: '',
					index: '',
					id: '',
					showClass: [],
					showValue: '',
					hideClass: [],
					hideValue: '',
					classId: 100,
					showIndex: 10000,
					hideIndex: 10000,
					flag: 100,
					chooseClass: {},
					pageNum: 0,
					pageSize: 10,
					allPage: 0,
					showTime: 2000,
					eror: ''
				},
				created: function() {
					this.getSort();
				},
				filters: {
					state: function(str) {
						if(str == "DISABLED") {
							return "否";
						} else {
							return "是";
						}
					}
				},
				methods: {
					getSort: function() {
						var that = this;
						$.get(url + "subject_category/count", {
							state: that.searchShow
						}, function(result) {
							console.log(result)
							that.count = result.data;
							that.allPage = Math.ceil(result.data / that.pageSize);
							console.log(that.allPage)
						});
						$.get(url + "subject_category/list", {
							state: that.searchShow,
							pageNum: 0,
							pageSize: that.pageSize
						}, function(result) {
							console.log(result)
							that.pageNum = 0;
							that.sort = result.data;
						});
					},
					getClass: function(id, showState) {
						var that = this;
						$.get(url + "subject/list", {
							keyword: '',
							categoryId: id,
							state: showState,
							pageNum: 0,
							pageSize: 100000000
						}, function(result) {
							sessionStorage.setItem("subjectId", id);
							console.log(result)
							that.showClass = result.data;
						});
						$.get(url + "subject/list", {
							keyword: '',
							categoryId: 2000000,
							state: '',
							pageNum: 0,
							pageSize: 100000000
						}, function(result) {
							console.log(result)
							that.hideClass = result.data;
						});
					},
					getShowClass: function(id, showState) {
						var that = this;
						$.get(url + "subject/list", {
							keyword: '',
							categoryId: id,
							state: showState,
							pageNum: 0,
							pageSize: 100000000
						}, function(result) {
							console.log(result)
							that.showClass = result.data;
						});
					},
					gethideClass: function(hideState) {
						var that = this;
						$.get(url + "subject/list", {
							keyword: '',
							categoryId: 2000000,
							state: hideState,
							pageNum: 0,
							pageSize: 100000000
						}, function(result) {
							console.log(result)
							that.hideClass = result.data;
						});
					},
					addSort: function() {
						var that = this;
						if(!tb.checkEmpty(that.addName, "分类名不能为空")) return;
						if(!tb.checkEmpty(that.addWeight, "显示顺序不能为空")) return;
						$.post(url + "subject_category/add", {
							name: that.addName,
							state: that.addShow,
							weight: that.addWeight
						}, function(result) {
							console.log(result)
							if(result.data == true) {
								that.addName = '';
								that.addWeight = '';
								$('#addSort').modal('hide');
								that.getSort();
							}
						});
					},
					changeSortId: function(index, id) {
						console.log(this.sort[index]);
						this.sortDetail = this.sort[index];
						this.id = id;
					},
					changeSort: function() {
						var that = this;
						if(!tb.checkEmpty(that.sortDetail.name, "分类名不能为空")) return;
						if(!tb.checkEmpty(that.sortDetail.weight, "显示顺序不能为空")) return;
						$.post(url + "subject_category/update", {
							id: that.id,
							name: that.sortDetail.name,
							state: that.sortDetail.state,
							weight: that.sortDetail.weight
						}, function(result) {
							console.log(result)
							if(result.data == true) {
								$('#changeSort').modal('hide');
								that.getSort();
							}
						});
					},
					deleteSortId: function(id) {
						this.id = id;
						console.log(this.id)
					},
					deleteSort: function() {
						var that = this;
						$.get(url + "subject_category/delete", {
							id: that.id
						}, function(result) {
							console.log(result)
							if(result.code == 0 && result.data == true) {
								$('#deleteSort').modal('hide');
								that.getSort();
							} else if(result.code == 2 && result.data == false) {
								$('#deleteSort').modal('hide');
								$('#point').modal('show');
							}
						});
					},
					showState: function() {
						this.getShowClass(sessionStorage.getItem("subjectId"), this.showValue);
					},
					hideState: function() {
						this.gethideClass(this.hideValue);
					},
					showChoose: function(id, index, item) {
						this.classId = id;
						this.showIndex = index;
						this.chooseClass = item;
						this.flag = 1;
					},
					hideChoose: function(id, index, item) {
						this.classId = id;
						this.hideIndex = index;
						this.chooseClass = item;
						this.flag = 2;
					},
					up: function() {
						var that = this;
						if(that.flag == 1) {
							that.showClass.splice(that.showIndex, 1);
							that.showClass.unshift(that.chooseClass);
							that.showIndex = 0;
							$.get(url + "subject/sort", {
								front_id: 0,
								id: that.classId
							}, function(result) {
								console.log(result)
							});
						}
					},
					down: function() {
						var that = this;
						if(that.flag == 1) {
							var length1 = that.showClass.length;
							var frontId = that.showClass[length1 - 1].id;
							that.showClass.splice(that.showIndex, 1);
							that.showClass.push(that.chooseClass);
							that.showIndex = length1 - 1;
							console.log(that.showClass)
							$.post(url + "subject/sort", {
								front_id: frontId,
								id: that.classId
							}, function(result) {
								console.log(result)
							});
						}
					},
					left: function() {
						var that = this;
						if(that.flag == 2) {
							var length1 = that.showClass.length;
							that.hideClass.splice(that.hideIndex, 1);
							//							that.showClass.push(that.chooseClass);
							that.showIndex = length1;
							that.flag = 1;
							$.post(url + "subject/updateCategory", {
								subjectId: that.classId,
								categoryId: sessionStorage.getItem("subjectId")
							}, function(result) {
								if(result.code == 0 && result.data == true) {
									that.getShowClass(sessionStorage.getItem("subjectId"), that.showValue);
								};
								console.log(result)
							});
						}
					},
					right: function() {
						var that = this;
						if(that.flag == 1) {
							var length2 = that.hideClass.length;
							that.showClass.splice(that.showIndex, 1);
							//							that.hideClass.push(that.chooseClass);
							that.hideIndex = length2;
							that.flag = 2;
							$.post(url + "subject/updateCategory", {
								subjectId: that.classId,
								categoryId: 2000000
							}, function(result) {
								if(result.code == 0 && result.data == true) {
									that.gethideClass(that.hideValue);
								};
								console.log(result)
							});
						}
					},
					firstPage: function() {
						var that = this;
						if(that.pageNum > 0) {
							$.get(url + "subject_category/list", {
								state: that.searchShow,
								pageNum: 0,
								pageSize: that.pageSize
							}, function(result) {
								console.log(result)
								that.pageNum = 0;
								that.sort = result.data;
							});
						}
					},
					prevPage: function() {
						var that = this;
						if(that.pageNum > 0) {
							that.pageNum--;
							$.get(url + "subject_category/list", {
								state: that.searchShow,
								pageNum: that.pageNum,
								pageSize: that.pageSize
							}, function(result) {
								console.log(result)
								that.sort = result.data;
							});
						}
					},
					nextPage: function() {
						var that = this;
						if(that.pageNum < that.allPage - 1) {
							that.pageNum++;
							$.get(url + "subject_category/list", {
								state: that.searchShow,
								pageNum: that.pageNum,
								pageSize: that.pageSize
							}, function(result) {
								console.log(result)
								that.sort = result.data;
							});
						}
					},
					lastPage: function() {
						var that = this;
						if(that.pageNum < that.allPage - 1) {
							$.get(url + "subject_category/list", {
								state: that.searchShow,
								pageNum: that.allPage - 1,
								pageSize: that.pageSize
							}, function(result) {
								console.log(result)
								that.pageNum = that.allPage - 1;
								that.sort = result.data;
							});
						}
					},
					out: function() {
						tb.out();
					}
				}
			});

			function checkEmpty(val, message) {
				if(val) {
					return true;
				} else {
					v.eror = message;
					setTimeout(function() {
						v.eror = "";
					}, v.showTime);
					return false;
				};
			};
		</script>
	</body>

</html>